{% extends 'institution/baseInsti.html.twig' %}
{% block title %}Recherche d'un bâtiment{% endblock %}
{% block titreSection %}Recherche d'un bâtiment{% endblock %}
{% block titrePage %}Recherche d'un bâtiment{% endblock %}
{% block pageAccueil %}{% endblock %}
{% block contenu %}
    <div class="row">
        <div class="col-sm-12">
            <p class="h6">Rentrez dans la zone le nom d'un bâtiment,son numéro natif Diag-Drone,son adresse ou un agent qui est interven sur ce bâtiment</p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <input type="text" name="" id="bat" class="bg-white">
        </div>
        <div class="col-sm-2"></div>
    </div>
<table class="bat">
    <table class="table table-striped bat">
        <thead>
        <tr>
            <th scope="col">Numero natif</th>
            <th scope="col">Numéro interne</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
        </tr>
        </thead>
        <tbody>

        </tbody>

</table>

{% endblock %}