{% extends 'institution/baseInsti.html.twig' %}
{% block title %}Précision{% endblock %}
{% block titreSection %}FICHE d’information concernant L’APPEL A CONCURENCES et/ou l’APPEL D’OFFRES{% endblock %}
{% block titrePage %}FICHE d’information concernant L’APPEL A CONCURENCES et/ou l’APPEL D’OFFRES{% endblock %}
{% block pageAccueil  %} <h4>Votre dossier d'{{ appel.type }}</h4>{% endblock %}
{% block contenu %}
    <div class="row bg-white">
        <div class="col-sm-12 mt-5 mb-5">
            <p class="h6">SOUHAITEZ VOUS APPORTER DES PRECISIONS SUR CE DOSSIER ?</p>
        </div>
        <div class="col-sm-12">
            <label for="precisionAO">Précisions</label>
            <textarea name="" id="precisionAO" cols="30" rows="10"></textarea>
        </div>
        <input type="hidden" class="id" value="{{ appel.id }}">
        <div class="col-sm-12 mt-5 text-center">
            <button class="btn btn-maincolor terminer">Terminer</button>
        </div>
    </div>
{% endblock %}