{% block body %}

	<div hidden><button class="btn js-prev">prev</button></div>
	<div class="siema pl-5">

		<div><img src="/css/css_site/images/Diag-drone-coté-transaction.png"></div>
		<div><img src="/css/css_site/images/Diag-drone-axa.png" ></div>
		<div><img src="/css/css_site/images/Diag-drone-dronadair.png" ></div>
		<div><img src="/css/css_site/images/Première plateforme de réservation d'intervention par drone.png"></div>
		<div><img src="/css/css_site/images/Diag-drone-coté-transaction.png"></div>
		<div><img src="/css/css_site/images/Diag-drone-axa.png" ></div>
		<div><img src="/css/css_site/images/Diag-drone-dronadair.png" ></div>
		<div><img src="/css/css_site/images/Première plateforme de réservation d'intervention par drone.png"></div>

	</div>
{% endblock %}
