{% extends "accueil/baseaccueil.html.twig" %}
{% block body %}

	<section class="ls ms s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60 mb--60">
		<div class="container mb-60">
				<p class="h3">Choisissez votre nouveau mot de passe</p>
				{{form_start(form)}}
				<div class="row mt-60">


					<div class="col-sm-6 text-center">
						<div class="form-group has-placeholder">
							{{form_row(form.password,{'label':' ','attr':{'class':'form-control border-dark form-control-sm',"placeholder":"Nouveau mot de passe"}})}}
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group has-placeholder">
							{{form_row(form.confirmPassword,{'label':' ','attr':{'class':'form-control border-dark form-control-sm',"placeholder":"Confirmez le mot de passe"}})}}
						</div>
					</div>
					<div class="col-sm-12 text-center">

						<button type="submit" class="btn btn-maincolor">Valider</button>
					</div>
				</div>
				{{form_end(form)}}
			</div>

	</section>

{% endblock body %}
