.img-wrap{
  &.with-gradientradial-background{
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1400px;
      height: 1400px;
      top: 50%;
      left: 37%;
      margin-top: -700px;
      margin-left: -700px;
      z-index: 0;
      background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 35%); /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0, center center, 50%, color-stop(0%, rgba(255, 255, 255, 0.24)), color-stop(35%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 35%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 35%); /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 35%); /* IE10+ */
      background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 35%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      @media(max-width: 991px){
        left: 50%;
      }
    }
  }
  &.absolute-image-right{
    @media(min-width: 1200px){
      img{
        max-width: 100%;
        position: relative;
        left: 0;
      }
    }
    @media(min-width: 1500px){
      img{
        max-width: 140%;
        position: relative;
        left: -75px;
      }
    }

  }
  &.absolute-image-left{
    @media(min-width: 1200px){
      img{
        max-width: 90%;
        position: relative;
        left: 0;
      }
    }
    @media(min-width: 1500px) {
      img {
        max-width: 140%;
        position: relative;
        left: -150px;
      }
    }
  }
  &.absolute-image{
    margin-bottom: 70px;
    margin-right: 70px;
    overflow: visible;
    position: relative;
    img:nth-child(2){
      position: relative;
      z-index: 6;
      transition: all 0.6s ease-in-out;
      animation: image-animation 1s linear;

    }
    img:nth-child(1){
      position: absolute;

      left: 70px;
      right: 0;
      top: 70px;
      bottom: 0;
      z-index: 5;
      transition: all 0.6s ease-in-out;
      animation: image-animation2 1s linear;

      &:hover{
        animation: image-animation 1s linear;
        z-index: 7;
        & + img{
          animation: image-animation2 1s linear;
          z-index: 5;
        }
      }
    }
  }
}

@keyframes image-animation {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX( calc(25% - 70px) );
    opacity: 0.5;

  }
  50% {
    transform: translateX( calc( 50% - 35px ) );
    z-index: 7;
    opacity: 0.25;
  }
  75% {
    transform: translateX( calc(25% - 35px) );
    z-index: 7;
    opacity: 0.5;
  }
}
@keyframes image-animation2 {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX( -25% );
    opacity: 0.5;

  }
  50% {
    transform: translateX( -50% );
    z-index: 5;
    opacity: 0.25;
  }
  75% {
    transform: translateX(-25% );
    z-index: 5;
    opacity: 0.5;
  }
}
