{% extends "administrateur/baseA.html.twig" %}
{% block title %}Liste entreprises{% endblock %}
{% block body %}
<section class="wrapper">

	<div class="row mt">
		<div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-10">
                        <div id="map" style="height: 600px;width:700px"></div>
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
        </div>
    </div>
</section>
 
{% endblock %}