{% extends "administrateur/baseA.html.twig" %}
{% block title %}Liste Mairie
{% endblock %}
{% block body %}
	<section class="wrapper">

		<div class="row mt">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 mb-5"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-12">
				<button class="btn btn-maincolor4">Envoyer</button>
				<button class="btn btn-warning">Commautes de communes</button>

			</div>
		</div>
	</section>

{% endblock %}
