{% extends 'administrateur/baseA.html.twig' %}

{% block title %}Signature Admin
{% endblock %}

{% block body %}
	<section class="wrapper site-min-height">

		<div class="row text-center">
			{% if signature == null %}
				<div class="col-sm-12">
					<h1>Signature administrateur</h1>

				</div>


				<div class="col-sm-12">
					<canvas id="sig-canvas" width="620" height="420"></canvas>
				</div>


				<div class="col-sm-6">
					<button class="btn btn-primary">Enregistrer</button>

				</div>
				<div class="col-sm-6">
					<button class="btn btn-danger">Effacer</button>

				</div>
			{% else %}
				<div class="col-sm-12 mt-5">
					<p class="h6">Une signature administrateur est déja enregistrée.</p>
					<p class="h6">Veuillez contacter le developpeur pour enregistrer une autre signature</p>

				</div>
				<input type="file" name="" id="signature">

			{% endif %}
		</div>


	</section>
{% endblock %}
