{% extends 'administrateur/baseA.html.twig' %}
{% block title %}Statistique{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="h3">Statistique application Diag-Drone</p>
        </div>
        <div class="col-sm-12 mt-3">
            <p class="h5">Abonnements</p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        {% for abonnement in abonnements %}
                            <th>{{ abonnement.nom }}</th>
                        {% endfor %}
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="abonnementStats"></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}