/* widget_tag_cloud */
.tagcloud {
  a {
    border: 1px solid $borderColor;
    border-radius: 0;
    padding: 8px 35px;

    margin: 0 6px 10px 0;
    text-align: center;
    display: inline-block;
    letter-spacing: 0;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1;
    font-Size: 16px !important;
    color: $darkgreyColor !important;
    background: $lightColor;
    &:hover {
      background-color: $colorMain;
      border-color: $colorMain;
      color: $darkgreyColor ;
    }
  }

}