{% extends "entreprise/terminerInscription.html.twig" %}

{% block title %}
Attente du mandat
{% endblock %}

{% block contenu %}
<div class="row mt-5">
    <div class="col-12 mt-5">
        <p class="h5 mb-3">Nous sommes en attente de la signature de votre mandat de prélèvement. Vérifiez votre boîte mail.</p>
        <p class="h5 mb-3">1.	Vous n'avez pas reçu le mail de <span class="color_blue">signature électronique</span>, <a href="{{ path('sepa') }}" class="h3">cliquez ici.</a></p>
        <p class="h5">2.	Vous avez signé votre <span class="color_blue">mandat de prélèvement</span>. Merci de vous déconnecter et de vous reconnecter pour accéder à vos services.</p>
    </div>
    <div class="col-12 mt-3 text-center">
        <button class="btn btn-maincolor"><a href="{{ path('app_logout') }}">Se déconnecter</a></button>
    </div>
</div>
{% endblock %}

