{% extends 'entreprise/baseAE.html.twig' %}

{% block contenu %}
<div class="row">
    <div class="col-12">
        <p class="h5">Votre nouvel abonnement est desormais activé. Reconnectez vous pour profiter des nouvelle fonctionnalités de votre abonnement</p>
    </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

