<div class="header">
    <div class="cadrePage2">
        <p>Nom du dossier : <b>{{ dossier.typedeBien }} {{ dossier.nom }}</b></p>
        <p><b>Référence : {{ dossier.reference }}</b></p>
    </div>

    <div class="cadre1Page3">
        <p><b>DÉTAILS DES PIECES</b></p>
    </div>
    <div class="cadre2Page3">
        <p><b>ALERTES</b></p>
    </div>
</div>

