
    <div class="header">
        <div class="cadrePage2">
            <p>Nom du dossier : <b>{{ dossier.typedeBien }} {{ dossier.nom }}</b></p>
            <p><b>Référence : {{ dossier.reference }}</b></p>
        </div>

        <div class="cadre1Page2">
            <p><b>Annotations du dossier</b></p>
        </div>
    </div>


