<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Traitement paiement HDD</title>
</head>
<body>
<input type="hidden" id="data" value="{{ data }}">
<input type="hidden" id="id" value="{{ id }}">




{{ encore_entry_script_tags('app') }}
</body>
</body>
</html>