{% extends 'base.html.twig' %}
{% block body %}

<section class="ls s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60 c-gutter-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="h5">
          Votre demande a bien été enregistrée. Nous y répondrons dans les plus
          brefs délais.
        </p>
        <p class="h5 mb-5">
          Toute l'équipe de diag-drone vous remercie .
        </p>


      </div>
      <div class="col-12 mt-5">
        <a href="{{ path('home') }}" class="">
          <button type="button" class="btn btn-primary btn-lg btn-block mt-5">
            Retour à l'accueil
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}