{% extends 'accueil/baseaccueil.html.twig' %}

{% block bodyAccueil %}
    <section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 c-mb-10 c-gutter-60">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt expedita, harum impedit itaque quia sunt vel? Cupiditate, doloribus fuga labore nobis porro quam, quia quibusdam quisquam sequi soluta sunt tenetur?</span><span>Ducimus harum ipsum perspiciatis quaerat quos recusandae temporibus vel, veritatis voluptas voluptates! Accusantium at magnam molestiae non obcaecati officia, possimus quidem quod totam voluptatibus. In quae quia quod rerum saepe.</span><span>Ab accusamus amet beatae commodi consectetur culpa delectus ea error eum exercitationem facere ipsum iusto neque nostrum omnis quasi rem sint soluta, vel voluptatum. Doloribus earum exercitationem explicabo maiores mollitia.</span><span>Aut debitis delectus, dolor eos eveniet ex hic impedit labore magnam non pariatur quis repellat similique sit unde, voluptas voluptatem. A corporis iure nobis nulla odio officia provident quidem, quo.</span><span>Culpa, dicta dignissimos dolorum eos eum in laboriosam laudantium necessitatibus neque nobis officia praesentium quo repellat repellendus repudiandae tempore, tenetur voluptates voluptatibus? Dolorum enim, et inventore ipsum nesciunt nihil odio!</span><span>Blanditiis commodi consequuntur dicta distinctio doloremque ducimus eligendi eveniet expedita facilis hic illum, incidunt ipsam ipsum laborum natus non perferendis qui quos recusandae rem repellendus similique sunt suscipit tempore vel!</span><span>A architecto cupiditate doloribus ex molestias perspiciatis quasi quisquam reprehenderit suscipit, tempore totam voluptas. Aliquid assumenda at doloremque id maxime mollitia nobis officiis recusandae voluptas! Asperiores ipsa maxime optio placeat?</span><span>Alias aperiam atque blanditiis consequatur dignissimos dolor, eaque eos illo ipsam ipsum iste iusto libero molestias odit officiis quae quasi qui repellendus rerum sed sint voluptate voluptatem, voluptatum? Adipisci, laborum.</span><span>Amet aperiam blanditiis dolorum ea, ex facilis fugit inventore ipsam itaque maiores non pariatur quae quisquam quo sapiente velit voluptas! Animi, cum, odio. Deserunt eius, neque! Distinctio fugit sequi voluptate?</span><span>Assumenda, dolore doloremque illo iste officia optio praesentium quasi quod. Aperiam consectetur doloremque, doloribus ea eligendi, laborum laudantium libero magni modi molestias nam nesciunt nisi nobis qui quidem quos veniam.</span></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}
Conditions générales
{% endblock %}

