{% extends "accueil/baseaccueil.html.twig" %}
{% block titrePage %}
	<h1>DIAG-DRONE EN 3 MINUTES</h1>
{% endblock %}
{% block nomPage %}DIAG-DRONE EN 3 MINUTES
{% endblock %}


{% block bodyAccueil %}

	<section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 c-mb-10 c-gutter-60">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<h3 class="special-heading text-center">
						<span class="mb-2 ">
							DIAG-DRONE en
							<span class="color_blue">2 MINUTES</span>
						</span>
					</h3>
				</div>


				<div class="fw-divider-space divider-20 divider-lg-55"></div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="accordion01" role="tablist">
						<div class="card">
							<div class="card-header" role="tab" id="collapse01_header">
								<h5>
									<a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
										Qu’est ce que DIAG DRONE :

									</a>
								</h5>
							</div>

							<div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
								<div class="card-body">
									<p class="text-dark">DIAG DRONE est la première plateforme qui propose d’une solution interactive de mise en relation, en temps réel, entre des demandeurs (les clients) et les Diagnostiqueurs – Opérateurs Télépilote de Drone (OTD) et ce quel que soit le type d'intervention.</p>
									<p class="text-dark">Opérant au niveau national et bientôt européen, DIAG DRONE est l’outil indispensable de gestion des diagnostics et interventions DRONES.</p>
									<p class="text-dark">Des interfaces dédiées aux grands comptes (syndic, experts, cabinet d’assurance) comme aux institutionnels (communes, communauté de communes, département, région…) sont accessibles et permettent d’augmenter le volume des demandes d’interventions.</p>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" role="tab" id="collapse02_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
										Pourquoi choisir DIAG DRONE ?
									</a>
								</h5>
							</div>
							<div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
								<div class="card-body">
									<p class="text-dark">Si le drone est largement reconnu comme un outil particulièrement efficace, sa mise en œuvre peut s'avérer complexe. C'est dans cet esprit de simplification que la plateforme DIAG DRONE a été créée. Au service de tous, particuliers comme professionnels mais aussi au service des grands comptes, institutionnels et Opérateurs Télépilote de Drone, DIAG DRONE est une réponse simple, efficace et sûre.</p>
									<p class="text-dark">Avec DIAG DRONE, toutes les applications techniques du drone deviennent accessibles à tous.</p>

								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="collapse03_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
										DIAG DRONE pour qui ?


									</a>
								</h5>
							</div>
							<div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
								<div class="card-body">
									<p class="text-dark">La conception même de la plateforme est une réponse aux exigences de deux grands profils : le demandeur (personne physique ou moral donneur d’ordre) et l’Opérateur Télépilote de Drone (OTD) qu’il soit indépendant ou au sein d’une entreprise spécialisée.</p>
									<p class="text-dark">Que vous soyez un particulier propriétaire, un syndic de copropriété, un expert en assurance, un agriculteur ou tout autre profil, la plateforme DIAGDRONE vous permet de réserver l’intervention d’un drone quelle que soit la mission à accomplir :</p>
									<ul class="text-dark">
										<li>Expertise visuelle à la suite d’un sinistre,</li>
										<li>Bilan thermographique,</li>
										<li>Mise en valeur d’un bien,</li>
										<li>Photogrammétrie,</li>
										<li>Détection de maladie…</li>
									</ul>
									<p class="text-dark">Face à ces profils Demandeurs, des OTD qualifiés et équipés proposent leur service dans un secteur géographique donné.</p>
									<p class="text-dark">DIAG DRONE assure la bonne connexion des deux profils : c’est simple et sécurisé !</p>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" role="tab" id="collapse04_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
										DIAG DRONE au service des OTD :

									</a>
								</h5>
							</div>
							<div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
								<div class="card-body">
									<p class="text-dark">Pour VOUS, Opérateurs Télépilotes de Drone (OTD), DIAG DRONE c’est :</p>
									<ul class="text-dark">
										<li>La première plateforme de mise en relation entre les Opérateurs Télépilotes de Drone (OTD) et leurs futurs clients sur tout le territoire.</li>
										<li>Des outils interactifs permettant de toucher la clientèle la plus large du marché dans des secteurs encore peu exploités comme la gestion de sinistres du bâtiment.</li>
										<li>Une solution métier dédiée au Opérateurs Télépilotes de Drone sous la forme d’un outil de gestion de type CRM.</li>
										<li>Un système d’agenda dynamique et partagé.</li>
										<li>Un système de paiement en ligne sécurisé lors des réservations de vos clients.</li>

									</ul>
									<p class="text-dark">DIAG DRONE devient le partenaire privilégié des Opérateurs Télépilotes de drone et des diagnostiqueurs en leur permettant d'augmenter considérablement leur chiffre d’affaires.
									</p>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" role="tab" id="collapse05_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
										DIAG DRONE Comment cela fonctionne ?

									</a>
								</h5>
							</div>
							<div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="collapse05_header" data-parent="#accordion01">
								<div class="card-body">
									<p class="text-dark">En temps réel, DIAG DRONE sélectionne des OTD qualifiés, disponibles et à proximité du site d’intervention en fonction des besoins renseignés par le demandeur-donneur d’ordre.
									</p>
									<p class="text-dark">Ce dernier pourra choisir entre les différents OTD que DIAG DRONE aura référencé et ce en toute connaissance des tarifs appliqués donc sans surprise !</p>
									<p class="text-dark">Un système de prise de rendez-vous géolocalisé permet à chacun des profils une parfaite organisation de l’intervention notamment en termes de conditions techniques de vol.</p>
									<p class="text-dark">La mise en place d’un paiement sécurisé permet une réservation définitive de l’intervention.</p>

									<p class="h5">Que se passe-t-il après l’intervention ? </p>
									<p class="text-dark">L’OTD utilise la plateforme pour charger images, vidéos ou toutes les données capturées par le drone.</p>
									<p class="text-dark">DIAG DRONE va alors générer un rapport type immédiatement disponible pour le donneur d’ordre.</p>
									<p class="text-dark">Ce dernier aura toute liberté pour partager ce rapport avec, par exemple, un expert, un technicien, un artisan...</p>
									<p class="text-dark">Un nouveau profil de Consultant peut alors être créé, ce dernier aura alors la possibilité de gérer plusieurs dossiers et rapports.</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="collapse06_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
										Quel est le coût ?

									</a>
								</h5>
							</div>
							<div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="collapse06_header" data-parent="#accordion01">
								<div class="card-body">
									<p class="text-dark">L’utilisation des services de la plateforme est gratuite pour les demandeurs et les consultants.</p>
									<p class="text-dark">Seule l’intervention du drone est à régler par le demandeur.</p>
									<p class="text-dark">Ainsi, ce dernier réglera 35% du coût de l’intervention grâce à notre système de paiement sécurisé en ligne afin de réserver l’intervention.</p>
									<p class="text-dark">Le solde sera versé directement à l’OTD le jour de l’intervention par chèque ou en utilisant de nouveau notre système de paiement.</p>
									<p class="text-dark">Sans surprise pour le demandeur qui a précisément connaissance du coût et, parfaitement sécurisé pour l’OTD, DIAG DRONE assure un ensemble de services incomparables.</p>
									<p class="text-dark">Pour les OTD, les grands comptes, les institutionnels et les partenaires PRO BTP, rendez vous dans vos espaces dédiés pour découvrir tous les services personnalisés et les tarifs.</p>
									<p class="text-dark">
										<b>A très bientôt sur DIAG-DRONE.COM</b>
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-12 text-center mt-5">
					<a href="{{ path('rechercheDrone') }}" class="btn btn-outline-maincolor btn-drone">J'ai besoin d'un drone</a>
				</div>
				<div class="col-sm-6 col-12 text-center mt-5">
					<a href="{{ path('createDiag') }}" class="btn btn-outline-maincolor btn-drone">J’ai besoin de diagnostics immobiliers </a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
