{% extends 'accueil/baseaccueil.html.twig' %}

{% block bodyAccueil %}
    <section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 c-mb-10 c-gutter-60 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 my-50">

                </div>
                <div class="col-12 my-50">
                    <p class="h5">Vous ne recevrez plus d'email promotionnel de notre part .</p>
                    <p class="h5">Diag-drone vous remercie .</p>

                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block title %}
Désabonnement Autre
{% endblock %}

