<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home2</title>
    <style>
        .message{
            text-align: center;
            font-size: 1.5em;
            margin-top: 3em;
        }
        .signature{
            width: 100%;
            font-size: 1.35em;
            margin-top: 3.5em;
            text-align: center;
        }
    </style>
</head>
<body>
   <div class="message">
       <p>Du fait du non-paiement de mon salaire, je mets les applications diag-drone.com et diag-drone.xyz hors ligne.</p>

       <p>Si les versements sont fait avant le 9 août, je remettrais les applications en ligne</p>
   </div>

    <div class="signature">
        <p>Mathieu</p>
    </div>
</body>
</html>

