{% extends "accueil/baseaccueil.html.twig" %}
{% block title %}Type
{% endblock %}
{% block titrePage %}
	<h1>Nos profils
	</h1>

{% endblock %}


{% block bodyAccueil %}

	<section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-90 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 c-mb-10  c-gutter-60">

		<div class="container pb-5">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<h3 class="special-heading text-center">
						<span class="mb-2 ">
							Nos interfaces
							<span class="color_blue">dédiées</span>
						</span>
					</h3>
				</div>


				<div class="fw-divider-space divider-20 divider-lg-55"></div>
			</div>
			<div id="accordion01" role="tablist">
				<div class="card">
					<div class="card-header" role="tab" id="collapse01_header">
						<h5>
							<a data-toggle="collapse" href="#collapse01" aria-expanded="false" aria-controls="collapse01">
								Interface Opérateurs Télé-pilotes de Drone
							</a>
						</h5>
					</div>

					<div id="collapse01" class="collapse" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
						<div class="card-body">
							<p>L'interface spécifique développée par DIAG DRONE permet, pour chaque OTD, de disposer d'un outil global de gestion de son activité.</p>
							<p>Ainsi, un CRM de création de devis et de factures est des plus utiles pour une gestion simple et précise</p>
							<p>De même, un calendrier dynamique permet d'optimiser l'activité et surtout, en fonction de l'abonnement choisi, d'être mis en relation avec un demandeur, et ce, en temps réel puisque l'algorithme développé par DIAG DRONE s’appuie sur des données calendaires et géographiques (géolocalisation dynamique).</p>
							<p>De plus, une application spécifique de tarification des interventions, renseignée par l'OTD, permet à chaque demandeur de connaître précisément le coût, c'est sûr et sans surprise !</p>
							<p>L'interface OTD est aussi au service de l'OTD pour gérer son parc matériel et ses MAP .</p>
							<p>Pour chaque intervention, seul le temps de vol est à préciser pour compléter le MAP, les autres données étant automatisées.</p>
							<p>L’interface OTD permet à chacun de retrouver ses interventions déjà réalisées et suivre celles en cours.</p>
							<p>Des outils d’assistance au vol type NOTAM ou zone d’exclusion apportent les informations nécessaires à des interventions en toute quiétude.</p>
							<p>Une fois l’intervention réalisée, l’opérateur utilise le générateur de rapport formaté qui présente de façon synthétique toutes les données captées par le drone (images, vidéos, données télémétriques, thermographiques…).</p>
							<p>Ce rapport est alors transmis au demandeur ou à tout consultant extérieur.</p>
							<p>Afin de sécuriser les paiements, DIAG DRONE a choisi un partenaire de renom MANGO PAY.</p>
							<p>Chaque OTD possède son propre compte (sa wallet) lui permettant de récupérer ses fonds sous 48 h.</p>
							<p>Pour permettre aux OTD de diversifier, d’asseoir et de développer leur activité, DIAG DRONE a prévu une application leur permettant de connaître les demandes d’intervention non pourvues d’OTD pour ainsi se positionner y compris hors de leur zone d’intervention initiale.</p>
							<p>Enfin, un outil de publication et de réponse aux appels d’offre ou appels à concurrence ouvre de nouveaux horizons et de nouveaux marchés aux opérateurs.</p>
							<p class="text-avertissement">DIAG DRONE est la solution pour diversifier, asseoir le développement de l’activité d’Opérateurs Télé-pilotes de Drone.</p>
							<div class="mt-5 text-center">
								<a target="_blank" href="/DIAG DRONE - Guide de l'utilisateur - Interface Opérateur Télépilote de Drone.pdf" class="btn btn-outline-maincolor">Guide de l'utlisateur</a>
							</div>
						</div>

					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="collapse02_header">
						<h5>
							<a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
								Interface Demandeurs
							</a>
						</h5>
					</div>
					<div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
						<div class="card-body">
							<p>Ce service de mise en relation, entièrement gratuit, permet à un particulier ou un professionnel de procéder à la réservation d’une intervention par drone, et ce, de façon simple et sécurisée.</p>
							<p>L’algorithme développé par DIAG DRONE va sélectionner les opérateurs qualifiés, disponibles et à proximité du lieu de l’intervention. </p>
							<p>En toute quiétude, le demandeur peut alors sélectionner l’opérateur de son choix afin de connaître la tarification définitive de l’intervention et ainsi là réserver. </p>
							<p>Le paiement d’un acompte de 30 % du montant de l’intervention (sauf institutionnels et grands comptes) est effectué par le demandeur via notre partenaire MANGO PAY pour acter la réservation. </p>
							<p>Le demandeur tout comme l’Opérateur Télépilote de Drone (OTD) sont informés en temps réel par mail et SMS de chacune des étapes du process de réservation d’une intervention.</p>
							<p>Une fois cette dernière réalisée, le demandeur reçoit un rapport formaté reprenant toutes les données captées par le drone (images, vidéos, données télémétriques, thermographiques…). </p>
							<p>Le demandeur peut alors transmettre ce rapport à toute personne tierce de son choix (expert, consultant, professionnel du bâtiment…) ou le mettre à disposition via la plateforme.</p>
							<p>Depuis son espace personnel, le demandeur retrouve toutes ses informations ainsi que l’historique de toutes ses demandes.</p>
							<p>Tous les services de l’interface Demandeur sont gratuits, seule l’intervention par drone est facturée par l’OTD.</p>
							<div class="row mt-5">
								<div class="col-12 text-center">
									<a href="/DIAG DRONE - Guide de l'utilisateur - Comment trouver et réserver un drone.pdf" class="btn btn-outline-maincolor" target="_blank">Comment trouver et réserver une intervention drone</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="collapse03_header">
						<h5>
							<a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
								Interface Institutionnels 
							</a>
						</h5>
					</div>
					<div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse03_header" data-parent="#accordion01">
						<div class="card-body">
							<p>L’interface Institutionnel a été spécialement développée pour répondre à toutes les problématiques rencontrées par tous les institutionnels et concernant la gestion des diagnostics de leurs biens immobiliers et la gestion des éventuels sinistres. </p>
							<p>Accessibles selon plusieurs profils (super admin, admin, agent...), ces interfaces intègrent un calendrier dynamique permettant l’organisation optimale d’une équipe de collaborateurs concernés de près ou de loin par la gestion des diagnostics d’un bien. </p>
							<p>Ces interfaces permettent donc de gérer, à partir d’un tableau de bord simple d’utilisation, l’intégralité des différents diagnostics liés au patrimoine dont ils ont la gestion, et ce, en temps réel et en itinérance.</p>
							<p>De ce fait, le suivi des diagnostics d’une copropriété, d’un immeuble, d’une salle polyvalente, d’un stade, d’une école, d’un lycée et de tout autre bâtiment public s’en trouve simplifié puisque l’interface réunie tous les documents légaux et techniques liés à un bien le tout couplé à une gestion calendaire y compris du personnel.</p>
							<p>Un système d’alerte par notification sur l’espace personnel, par mail et/ou par SMS permet de gérer, en toute sécurité, la mise à jour ou le renouvellement de tel ou tel diagnostic afin que le bien concerné soit, en temps réel, à jour concernant toutes les normes imposées. </p>
							<p>Depuis cette même interface, les utilisateurs pourront procéder à la réservation d’une intervention par drone quel que soit le type de mission connexe à la gestion d’un patrimoine (constat visuel suite à un sinistre, bilan thermique, photogrammétrie pour l’aménagement du territoire...).</p>
							<div class="mt-5 text-center bg-white">
								<a href="/DIAG%20DRONE%20-%20Guide%20de%20l'utilisateur%20-%20Interface%20Institutionnels%20et%20Grands%20Comptes.pdf" class="btn btn-outline-maincolor">Guide de l'utlisateur</a>
							</div>

						</div>

					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="otd_header">
						<h5>
							<a class="collapsed" data-toggle="collapse" href="#copro" aria-expanded="false" aria-controls="otd">
								Interface Grands Comptes - Copropriétés
							</a>
						</h5>
					</div>
					<div id="copro" class="collapse" role="tabpanel" aria-labelledby="otd_header" data-parent="#accordion01" style="">
						<div class="card-body">
							<p>L’interface Grands comptes a été spécialement développée pour répondre à toutes les problématiques rencontrées par tous les institutionnels et concernant la gestion des diagnostics de leurs biens immobiliers et la gestion des éventuels sinistres. </p>
							<p>Accessibles selon plusieurs profils (super admin, admin, agent...), ces interfaces intègrent un calendrier dynamique permettant l’organisation optimale d’une équipe de collaborateurs concernés de près ou de loin par la gestion des diagnostics d’un bien. </p>
							<p>Ces interfaces permettent donc de gérer, à partir d’un tableau de bord simple d’utilisation, l’intégralité des différents diagnostics liés au patrimoine dont ils ont la gestion, et ce, en temps réel et en itinérance. </p>
							<p>De ce fait, le suivi des diagnostics d’un site de production, de bureux ou de tout autre bien s’en trouve simplifié puisque l’interface réunie tous les documents légaux et techniques liés à un bien le tout couplé à une gestion calendaire y compris du personnel. </p>
							<p>Un système d’alerte par notification sur l’espace personnel, par mail et/ou par SMS permet de gérer, en toute sécurité, la mise à jour ou le renouvellement de tel ou tel diagnostic afin que le bien concerné soit, en temps réel, à jour concernant toutes les normes imposées. </p>
							<p>Depuis cette même interface, les utilisateurs pourront procéder à la réservation d’une intervention par drone quel que soit le type de mission connexe à la gestion d’un patrimoine (constat visuel suite à un sinistre, bilan thermique, photogrammétrie pour l’aménagement du territoire...).</p>
							<hr>
							<p>L'interface « Copropriétés » a été conçue pour permettre à une copropriété via son syndic éventuellement de gérer l’ensemble des diagnostics immobiliers obligatoires dans le temps.</p>
							<p>Une fois l’ensemble des documents numérisé, des alertes vous sont envoyées vous indiquant les fins de validités.</p>
							<p>Tous vos documents, diagnostics, études, devis… Ils sont stockés de façon sécurisée et suivent votre copropriété même en cas de changement de syndic par exemple.</p>
							<div class="mt-5 text-center bg-white">
								<a target="_blank" href="/DIAG%20DRONE%20-%20Guide%20de%20l'utilisateur%20-%20Interface%20Institutionnels%20et%20Grands%20Comptes.pdf" class="btn btn-outline-maincolor">Guide de l'utlisateur</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="collapse03_header">
						<h5>
							<a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
								Interface Consultants
							</a>
						</h5>
					</div>
					<div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
						<div class="card-body">
							<p>Cette interface s’adresse à de multiples profils. </p>
							<p>Ainsi, le profil consultant correspond à toute personne physique ou morale identifiée par un autre utilisateur de la plateforme. Ce consultant est alors en mesure de consulter un rapport d’intervention généré par la plateforme DIAG DRONE à partir d’un demandeur qu’il soit particulier, professionnel, grand compte ou institutionnel.</p>
							<p>Depuis son compte, ce consultant pourra retrouver tous les rapports pour lesquels il a été identifié comme tel.</p>
							<p>En quelques clics, ce consultant pourra transformer son compte pour devenir lui-même le demandeur d’une intervention. La plateforme s’adapte alors à tous les besoins d’aujourd’hui comme à ceux de demain, la souplesse d’utilisation de la plateforme DIAG DRONE étant dans son ADN.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" role="tab" id="collapse05_header">
						<h5>
							<a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
								Interface Diagnostiqueurs
							</a>
						</h5>
					</div>
					<div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="collapse05_header" data-parent="#accordion01">
						<div class="card-body">
							<p>BIENTOT une nouvelle interface dédiée sur DIAG DRONE.</p>
							<p>En effet, comme son nom l’indique, la plateforme DIAG DRONE a la vocation d’être la première plateforme de mise en relation entre les particuliers et professionnels ayant besoin d’un drone et les Opérateurs Télépilotes de Drone.</p>
							<p>Après avoir développé les fonctionnalités nécessaires à ce nouveau marché du drone professionnel, DIAG DRONE vous annonce l’arrivée de son interface dédiée aux diagnostiqueurs avec la première plateforme de réservation pour les diagnostics immobiliers, et ce, partout en France.</p>
							<p>Demandeurs comme diagnostiqueurs bénéficieront des mêmes outils que les Opérateurs Télépilote de Drone, et ce, dès la fin de l’année 2021.</p>
							<p>Outil de réservation de diagnostic et de paiement en ligne, support de communication qualifié et géolocalisé, système d’alerte pour une gestion optimale de tous les diagnostics, veille juridique et CRM…cette nouvelle interface répondra à tous les besoins des professionnels du diagnostic et leur deviendra indispensable.</p>
							<p>Grâce à cette nouvelle interface, la plateforme DIAG DRONE permettra aux clients des diagnostiqueurs qu’ils soient particuliers, institutionnels ou grands comptes d’opérer une parfaite gestion de tous leurs diagnostics.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

{% block bandeau_pub %}
	<div class="row ls ms justify-content-center pb-1">
	    <div class="col-12 col-lg-10 col-xl-8">
	        {% include('publicite/bandeau_pub.html.twig') %}
	    </div>
	</div>
{% endblock %}
