{% extends 'accueil/baseaccueil.html.twig' %}

{% block bodyAccueil %}
<section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 c-mb-10 c-gutter-60">

    <div class="container pb-5">
    <div class="row mt-50">
        <div class="col-12">
            <div id="accordion01" role="tablist">

                <div class="card">
                    <div class="card-header" role="tab" id="collapse01_header">
                        <h5>
                            <a class="collapsed" data-toggle="collapse" href="#collapse01" aria-expanded="false" aria-controls="collapse01">
                                Nos partenaires institutionnels
                            </a>
                        </h5>
                    </div>
                    <div id="collapse01" class="collapse" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
                        <div class="card-body table-responsive">
                            <table>
                                <tr>
                                    <td class="text-center text-dark">
                                        <figure>
                                            <img src="/css/css_site/images/DIAG-DRONE-LOGO-FRENCH-TECH.png" width="70" height="70" alt="">
                                        </figure>
                                    </td>
                                    <td class="text-center text-dark">
                                        <p>Merci et BRAVO !</p>
                                        <p>C'est grâce à la French Tech Grande Provence que nous avons pu présenter notre avant-projet à la BPI. Merci à leurs collaborateurs toujours à l’écoute de projets innovants. Depuis, la French Tech Grande Provence poursuit son accompagnement notamment par sa mise en contact avec ses nombreux adhérents et partenaires. Cette mise en relation a permis à DIAG DRONE de solutionner diverses problématiques rencontrées et notamment concernant le codage de la plateforme.</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-center text-dark" width="15%">
                                        <figure>
                                            <img src="/css/css_site/images/DIAG-DRONE-LOGO-BPI.jpg" alt="" width="110" height="110">
                                        </figure>
                                    </td>
                                    <td class="text-center text-dark" width="70%">
                                        <p>BPI : second partenaire historique de DIAG DRONE, la Banque Publique d'Investissement s'est, dès la présentation de notre avant-projet, engagée à notre côté et ce fin 2019. En 2020, la BPI Provence nous octroyait la bourse "French Tech-Projet Innovant". Cette bourse a été un véritable booster pour notre projet et une alliée de premier ordre pour convaincre notre partenaire financier la Banque Populaire Auvergne – Rhône-Alpes.</p>
                                    </td>

                                </tr>

                                <tr>
                                    <td class="text-center text-dark">
                                        <figure>
                                            <img src="/css/css_site/images/DIAG-DRONE-LOGO-POLE-SAFE.png" alt="" width="100" height="100">
                                        </figure>
                                    </td>

                                    <td class="text-center text-dark">
                                        <p>Pôle Safe Cluster : ce pôle de recherche et de compétitivité accompagne DIAG DRONE depuis le début du projet. Le Pôle Safe Cluster s'est largement investi en proposant une très précieuse aide et notamment concernant la partie réglementaire de la plateforme. Cette organisation est aussi à l'origine d'un partenariat avec l'université d'Aix-Marseille dans le cadre du projet Drone AMU.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-dark">
                                        <figure>
                                            <img src="/css/css_site/images/DIAG-DRONE-LOGO-BPAURA.png" alt="" width="100" height="100">
                                        </figure>
                                    </td>

                                   <td class="text-center text-dark">
                                       <p>Banque Populaire Auvergne - Rhône-Alpes : partenaire financier - bancaire de DIAG DRONE, la BPAURA s'est, dès le début du projet, investie dans la recherche de solutions adaptées à notre entreprise et s’est financièrement engagée à nos côtés apportant le soutien nécessaire à notre développement. Merci à nos deux conseillers…</p>
                                   </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-dark">
                                        <figure>
                                            <img src="/css/css_site/images/DIAG-DRONE-LOGO-INITIATIVE.png"  width="100" height="100"alt="">
                                        </figure>
                                    </td>

                                    <td class="text-center text-dark">
                                        <p>Initiative Terres de Vaucluse : cette association de soutien au démarrage et à l'essor d'un projet de création d'entreprise s'est, elle aussi, immédiatement engagée auprès de DIAG DRONE avec l'apport d'un prêt bonifié à taux zéro.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-dark">
                                        <figure>
                                            <img src="/css/css_site/images/DIAG-DRONE-LOGO-MANGOPAY.png" alt=""width="100" height="100">
                                        </figure>
                                    </td>

                                    <td class="text-center text-dark">
                                        <p>Mango Pay : solution de paiement particulièrement innovante, Mango Pay est le partenaire privilégié de DIAG DRONE pour la sécurisation des transactions effectuées via la plateforme pour le compte de tiers.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-dark">
                                        <figure>
                                            <img src="/css/css_site/images/DIAG-DRONE-LOGO-GEN.png" alt="">
                                        </figure>
                                    </td>
                                    <td class="text-center text-dark">
                                        <p>Grande École du Numérique : le web développeur en charge du codage de la plateforme a été formé grâce à la Grande École du Numérique dans le cadre d'une formation longue Développeur Web et Web mobile et suivie auprès du centre de formation ANPEP d'Apt (84)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center text-dark">
                                        <figure>
                                            <img src="/css/css_site/images/aix-marseille.png" alt="">
                                        </figure>
                                    </td>
                                    <td class="text-center text-dark">
                                        <p>Université Aix-Marseille : dernier partenaire en date de DIAG DRONE, l'Université d'Aix Marseille via son Institut des Sciences du Mouvement a souhaité collaborer avec DIAG DRONE dans le cadre de deux sujets de recherches applicatives concernant l'ergonomie globale de la plateforme et concernant une étude pour la limitation de la contrainte "bruit" liée à l'exploitation d'un drone.  Ce partenariat rentre dans le cadre du projet Drone AMU</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="collapse02_header">
                        <div class="row">
                            <div class="col-6">
                                <p class="h5">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
                                        Notre partenaire assurance
                                    </a>

                                </p>
                            </div>
                            <div class="col-6 text-center pt-2">
                                <figure>
                                    <img src="/css/css_site/img/axa.png" alt="" width="100" height="100">
                                </figure>
                            </div>
                        </div>

                        <p class="h5 ml-5 mb-5">Profitez d'une offre exlusive pour votre assurance responsabilité civile professionnelle, vos assurances matérielles et pertes d'exploitation</p>
                    </div>
                    <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
                        <div class="card-body">
                            <div class="row">
                               <div class="col-12">
                                   <p>La compagnie AXA est à ce jour l’une des rare compagnie à proposer un contrat « complet » et surtout dédié au Télé Pilote de Drone (OTD) dans leur activité professionnelle.</p>
                                    <p>Nous l’avons donc logiquement choisi pour éventuellement accompagner les OTD adhérents de notre plateforme à un prix très avantageux grâce à notre partenariat.</p>
                                    <p>Profitez d’une offre exclusive en assurances RCP et matériel, avec la solution globale d’AXA France « ATOUTS DRONE » et développez ainsi votre activité professionnelle en toute sécurité et à moindre coût !</p>
                               </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="collapse03_header">
                        <div class="row">
                            <div class="col-12">
                                <p class="h5">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse02">
                                        Nos partenaires BTP pour vos interventions et travaux.
                                    </a>

                                </p>
                            </div>

                        </div>

                        <p class="h5 ml-5 mb-5">Si vous souhaitez un devis concernat des travaux, accédez simplement à nos partenaires.</p>
                    </div>
                    <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
                        <div class="card-body">
                            <div class="row">
                               <div class="col-sm-4 col-12">
                                   <label for="cp">Code postal</label>
                                   <input type="text" id="cp" class="form-control form-control-sm border-gray" style="background: #E1E1E1">
                               </div>
                                <div class="col-sm-4 col-12">
                                    <label for="ville">Ville</label>
                                    <select name="" id="ville" class="form-control form-control-lg" style="background: #E1E1E1">
                                        <option value="" disabled selected>Tapez d'abord votre code postal</option>
                                    </select>

                                </div>
                               <div class="col-sm-4 col-12">
                                   <label for="interventionBtp">Choisissez votre intervention</label>
                                   <select  id="interventionBtp" class="form-control form-control-lg" style="background: #E1E1E1">
                                       <option value="" disabled selected>Choisissez votre intervention</option>
                                       {% for travail in travaux %}
                                           <option value="{{ travail.id }}">{{ travail.nom }}</option>
                                       {% endfor %}
                                   </select>
                               </div>
                                <div class="table-responsive col-12">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th width="25%"></th>
                                            <th width="50%" class="text-center">Nom de l'entreprise</th>

                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody class="proBtp">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
    <div class="d-none">
        <button type="button" class="btn btn-primary btnAlerte" data-toggle="modal" data-target="#staticBackdrop">
        </button>
    </div>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Alerte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="h5">Vous devez être connecté pour obtenir les résultats</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-secondary">S'inscrire</a>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
Nos partenaires
{% endblock %}



