{% extends 'accueil/baseaccueil.html.twig' %}
{% block titrePage %}
	<h1>Qui sommes nous</h1>
{% endblock %}



{% block referencement %}
	<title>Réserver un drone en 1 minute sur Diag-Drone.com </title>
	<meta name="description" content="Nous vous proposons des interventions par drone pour tous vos besoins en plus d’un constat et d’un relevé de photos et vidéos.">
	<meta name="keywords" content="Drone, Diag-Drone, Télépilote"/>
	<link rel="canonical" href="https://diag-drone.com/plateforme-diag-drone.html" />
{% endblock %}

{% block bodyAccueil %}

	<section id="about" class="about_us ls s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-90 s-pb-xl-120 s-pb-lg-100 s-pb-md-60 s-pb-30 c-mb-30">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12 text-center  text-sm-left order-2 order-lg-1 bg_divider_blue mr-5">
					<h3 class="special-heading">
						<span class="text-capitalize ">
							DIAG-DRONE
						</span>
					</h3>
					<h3 class="special-heading">
						<span class="text-capitalize thin">
							Présentation
						</span>
					</h3>
					<div class="fw-divider-space divider-20 divider-lg-60 mb-15"></div>
					<div class="text-block with-border">
						<p>
							Si les performances et les multiples applications techniques possibles avec un drone ne font plus de doute encore, faut-il pouvoir accéder facilement à cette technologie et démocratiser l’ensemble de ces applications.
						</p>
						<p>
							De toute évidence, ce n’était pas le cas à ce jour.
						</p>
						<p>
							C’est en partant de ce simple constat que Dominique Coquard, agent immobilier et aménageur foncier et Vincent Marin, photographe-télépilote de drone, ont décidé de développer une solution globale permettant de répondre à toutes les problématiques d’applications en créant la première plateforme interactive de mise en relation entre les Opérateurs Télépilotes de Drone et les clients/demandeurs qu’ils soient particuliers, professionnels ou institutionnels.
						</p>

						<p>Présentée en décembre 2019 à la commission « Projet innovant » de la Banque Publique d’Investissement, la plateforme DIAG DRONE s’est vue décernée une bourse « French Tech – Projet innovant » en 2020 afin de lancer le développement de ce nouvel outil
							</p>
						<p>Suite à la présentation d’une version béta, la French Tech Grande Provence, le réseau Initiative Terres de Vaucluse, la Banque Populaire Auvergne-Rhône-Alpes et le pôle Safe Cluster ont souhaité participer activement au développement d’une version définitive.</p>
						<p>S’appuyant sur les compétences d’un codeur formé par la Grande Ecole du Numérique ; la plateforme DIAG DRONE est désormais en commercialisation et permet en quelques clics de réserver une intervention par drone pour un ensemble d’applications telles que la captation d’une vidéo promotionnelle, le constat visuel à la suite d’un sinistre, la réalisation d’un bilan thermique, la prise d’informations orthonormées (photogrammétrie), le suivi de chantier, la lutte contre les indésirables…</p>
						<p>Conscients de la particularité de chaque profil d’utilisateur (OTD, demandeur, assureur, syndic de copropriété, bureau d’étude, architecte, institutionnel, grand compte…) DIAG DRONE a développé des interfaces spécifiques de gestion des interventions drone mais, aussi des diagnostics techniques.</p>
						<p>Ces interfaces répondent parfaitement aux besoins de chacun.</p>
						<p>Vous souhaitez en savoir plus ? Pour ce faire, découvrez <a href="{{ path('interfaceDeddies') }}">ici</a>  et en détails, toutes les nouvelles opportunités que proposent la plateforme DIAG DRONE et ses différentes interfaces dédiées</p>
					</div>
					<br>
					<div class="fw-divider-space divider-30 divider-lg-60 "></div>

					<div class="text-block text-center">





					</div>
					<div class="fw-divider-space divider-30 divider-lg-60 text-center">

						<p class="text-white">
							<a href="/DIAG DRONE - Guide de l'utilisateur - Comment trouver et réserver un drone.pdf" class="btn btn-outline-light" target="_blank">Comment trouver et réserver une intervention drone</a>
						</p>
						<p class="text-white">
							<a href="{{ path('rechercheDrone') }}" class="btn btn-outline-light" >J'ai besoin d'un drone</a>
						</p>
					</div>


				</div>
{#				<div class="col-lg-6 order-1 order-lg-2">#}
{#					<div class="">#}
{#						<div class="img-wrap absolute-image-right">#}
{#							<img src="/css/css_site/images/slider1.jpg" alt="about1">#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
			</div>
			<div class="fw-divider-space divider-30 divider-md-60 divider-lg-70"></div>
		</div>


	</section>
	<!-- End Section About -->


	<section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 c-mb-10 c-gutter-60">
		<div class="container pb-5">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<h3 class="special-heading text-center">
						<span class="mb-2 ">
							Pourquoi choisir
							<span class="color_blue">Diag Drone ?</span>
						</span>
					</h3>
				</div>


				<div class="fw-divider-space divider-20 divider-lg-55"></div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="accordion01" role="tablist">
						<div class="card">
							<div class="card-header" role="tab" id="collapse01_header">
								<h5>
									<a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
										Pourquoi choisir DIAG DRONE  ?

									</a>
								</h5>
							</div>

							<div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="collapse01_header" data-parent="#accordion01">
								<div class="card-body">
									<p>Les applications possibles avec un drone se développent tous les jours dans un environnement complexe. Tous les opérateurs du marché comme les donneurs d’ordre travaillent sans réelle homogénéité. Il était nécessaire de développer un outil simple, efficace et pratique permettant de répondre aux besoins de profils très différents et surtout de booster leur coopération.</p>


								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" role="tab" id="collapse02_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
										DIAG DRONE pour qui ?

									</a>
								</h5>
							</div>
							<div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="collapse02_header" data-parent="#accordion01">
								<div class="card-body">
									<p>La conception même de la plateforme est une réponse aux exigences de deux grands profils : le demandeur (personne physique ou moral donneur d’ordre) et l’Opérateur Télépilote de Drone (OTD) qu’il soit indépendant ou au sein d’une entreprise spécialisée.
										<br>
										Que vous soyez un particulier propriétaire, un syndic de copropriété, un aménageur immobilier, un expert en assurance, agriculteur ou tout autre profil et que vous ayez besoin d’une prise de vue aérienne, d’un drone à caméra thermique, d’une photogrammétrie drone ou bien une inspection par drone, suite à une fuite toiture ou un sinistre ainsi que tout autre prestation de drone.
										<br>
										La plateforme DIAGDRONE vous permet de réserver l’intervention d’un drone quelle que soit la mission à accomplir : expertise visuelle à la suite d’un sinistre, bilan thermographique, mise en valeur d’un bien, photogrammétrie, détection de maladie…
										Face à ces profils Demandeurs, des Opérateurs Télépilotes de Drone (OTD) qualifiés et équipés proposent leur service dans un secteur géographique donné.
										DIAG DRONE assure la bonne connexion des deux profils : c’est simple !
									</p>

								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" role="tab" id="collapse04_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
										Comment cela fonctionne  ?

									</a>
								</h5>
							</div>
							<div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="collapse04_header" data-parent="#accordion01">
								<div class="card-body">
									<p>
										En temps réel, DIAG DRONE sélectionne des OTD qualifiés, disponibles et à proximité du site d’intervention en fonction des besoins renseignés par le demandeur-donneur d’ordre. Ce dernier pourra choisir entre les différents OTD que DIAG DRONE aura référencé et ce en toute connaissance des tarifs appliqués : c’est sans surprise !
										<br>
										Un système de prise de rendez-vous géolocalisé permet à chacun des profils une parfaite organisation de l’intervention notamment en matière de conditions techniques de vol de drone : c’est efficace !
										<br>
										La mise en place d’un paiement sécurisé permet une réservation définitive du drone et son télépilote : c’est sûr !
									</p>

								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header" role="tab" id="collapse05_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
										Que se passe-t-il après l’intervention  ?

									</a>
								</h5>
							</div>
							<div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="collapse05_header" data-parent="#accordion01">
								<div class="card-body">
									<p>
										L’OTD utilise la plateforme pour charger images, vidéos ou toutes données capturées par le drone. DIAG DRONE va alors générer un rapport type immédiatement disponible pour le donneur d’ordre. Ce dernier aura toute liberté pour permettre à qui il le veut de consulter ce document. Ce profil dit Consultant pourra, depuis son espace privé, gérer plusieurs dossiers.
									</p>

								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="collapse06_header">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
										Quel est le coût  ?

									</a>
								</h5>
							</div>
							<div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="collapse06_header" data-parent="#accordion01">
								<div class="card-body">

									<p>
										L’utilisation des services de la plateforme est gratuite pour les demandeurs et les consultants. Seule l’intervention du drone est à régler par le demandeur. Ainsi ce dernier réglera 30% du coût de l’intervention grâce à notre système de paiement sécurisé en ligne afin de réserver l’intervention. Le solde sera versé directement à l’Opérateur Télépilote de Drone (OTD) le jour de l’intervention par chèque ou en utilisant de nouveau le système de paiement de la plateforme DIAG DRONE.
										<br>
										Sans surprise pour le demandeur qui a précisément connaissance du coût et parfaitement sécurisé pour l’Opérateur Télépilote de Drone (OTD), DIAG DRONE assure un ensemble de services incomparables.

									</p>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
{% endblock %}

{% block bandeau_pub %}
	<div class="row ls ms justify-content-center pb-1">
	    <div class="col-12 col-lg-10 col-xl-8">
	        {% include('publicite/bandeau_pub.html.twig') %}
	    </div>
	</div>
{% endblock %}
