{% extends 'accueil/baseaccueil.html.twig' %}

{% block bodyAccueil %}
<section class="ls service-single s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60 bg-white">
    <div class="container pb-3">
        <div class="row">

            <div class="col-12">
                <h3 class="title_connect">
                    Vérifiez la présence de diagnostiqueurs immobiliers
                    <span class="color_blue">près de chez vous</span>!
                </h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block title %}
Je recherche un diagnostiqueur
{% endblock %}

