{% extends 'accueil/baseaccueil.html.twig' %}

{% block bodyAccueil %}
    <section class="ls ms s-pt-xl-150 s-pt-lg-130 s-pt-md-90 s-pt-60 s-pb-xl-140 s-pb-lg-120 s-pb-md-80 s-pb-50 c-mb-10 c-gutter-60 bg-white">
        <div class="container">
            <div class="row">
               <p class="h5">Votre désabonnement a bien été pris en compte .</p>
                <p class="h5">Vous ne recevrez plus d'e-mail promotionnel de notre part .</p>
                <p class="h5">Toute l'équipe de DIAG-DRONE vous remercie .</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}
Desabonnement journaliste
{% endblock %}

