{% extends 'chat/baseChat.html.twig' %}
{% block title %}Message à DIAG-DRONE{% endblock%}
{% block contenu %}
    <div class="discussion"></div>

    <footer class="footerChat">

            <div class="texteChat">
                <textarea placeholder="Votre message" cols="35" rows="2"></textarea>
            </div>
            <div class="boutonChat">
                <button class="btn btn-success">Envoyer</button>
            </div>

    </footer>
{% endblock %}