{% extends template %}

{% block title %}Chat DIAG-DRONE{% endblock %}

{% block contenu %}
    <div class="row mt-50">
        <div class="col-sm-12 mt-50">
            <button class="btn btn-maincolor">Parler à un conseiller DIAG-DRONE</button>
            
        </div>
    </div>
{% endblock %}
