<p style="font-size: 14px; line-height: 140%;">Madame, Monsieur</p>
<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
<p style="font-size: 14px; line-height: 140%;">Votre proposition a été refusée par diag-Drone
    <a href="www.diag-drone.com">www.diag-drone.com</a></p>
<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
<p style="font-size: 14px; line-height: 140%;"></p>
<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
<p style="font-size: 14px; line-height: 140%;"></p>
<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
<p style="font-size: 14px; line-height: 140%;">Toute l'équipe de Diag Drone vous remercie pour votre confiance.</p>
<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>