{% extends 'email/templateMail/baseMail.html.twig' %}

{% block sujet %}validation de votre solution d'encaissement MangoPay{% endblock %}

{% block body %}
    <p style="font-size: 14px; line-height: 140%;">Bonjour,</p>
    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
    <p style="font-size: 14px; line-height: 140%;">Une nouvelle demande d'intervention a été fait sur l'appli.</p>
    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
    <p style="font-size: 14px; line-height: 140%;">Il faut aller définir les contraintes de vol.</p>
    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>


{% endblock %}