{% extends "email/templateMail/baseMail.html.twig" %}

{% block sujet %}Demande d'autorisation de vol{% endblock %}
{% block body %}
	<p style="font-size: 14px; line-height: 140%;">Bonjour,</p>
	<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
	<p style="font-size: 14px; line-height: 140%;">Veuillez trouver en pièce jointe une demande d'autorisation de vol</p>
	<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
	<p style="font-size: 14px; line-height: 140%;">Cordialement</p>
	<p style="font-size: 14px; line-height: 140%;">&nbsp;</p>


{% endblock %}
