{% extends "email/templateMail/baseMail.html.twig" %}
{% block body %}
    <h5>Bonjour</h5>


    <p>Veuillez trouver en pièce jointe la liste des prélèvements à effectuer au mois de {{ mois }}</p>
    <p>Cordialement</p>

    <h6>L'équipe de DIAG-DRONE!</h6>


{% endblock %}