{% extends "email/templateMail/baseMail.html.twig" %}
{% block body %}
    <h5>Bonjour</h5>


    <p>Voici la liste des prélevements pour le  {{ date }}</p>

    <p>Toute l'équipe de DIAG-DRONE vous remercie</p>




{% endblock %}