{% extends "email/templateMail/baseMail.html.twig" %}


{% block body %}
	<div class="texte">
		<h4>Bienvenue sur la plateforme DIAG DRONE !</h4>
		<br><br><p>Votre compte est ouvert. Pour l'activer merci de cliquer sur le lien d'activation.</p>
		<p>Utiliser votre adresse E-mail pour vous connecter
		</p>
		<a href='https://www.diag-drone.com/activation/'>Lien d'activation de votre compte</a>
		<br><br>

	</div>


{% endblock %}
