<div class="titre">

	<h1>DIAG DRONE</h1>

	<h5>Conditions Générales d'Utilisation OTD</h5>

</div>

<div class="corps">
	<p>
		<b>Préambule</b>
	</p>
	<p>DIAG DRONE met en place, sur www.diag-drone.com (ci-après le "Site"), une plateforme ayant vocation à devenir l’outil indispensable à la professionnalisation et au développement de la filière des interventions techniques de drones aériens, terrestres, sous terrains, marins, sous-marins, en France et en Europe.</p>

	<p>Ce service permet à des OTD exerçant à titre professionnel ou semi professionnel (ci-après "OTD" ou "Vous"), après inscription :</p>

	<ul class="paragraphe">


		<li>de mettre à disposition des OTD des outils de gestion administratifs et d’assistance administrative afin d’optimiser et de simplifier le travail administratif des OTD et de paiements en ligne de leurs prestations</li>
		<li>de rentrer, par son intermédiaire, en relation avec des Demandeurs particuliers ou professionnels (ci-après "Demandeurs"), également inscrits sur le Site, dans le but de réaliser des prestations (ci-après les "Prestations") soit à prix fermes, soit sur devis (ci-après le "Service").</li>

		<li>de mettre à disposition des outils, notamment de planification des vols et d’obtention des autorisations administratives liées à la profession.</li>

		<li>de bénéficier des toutes dernières technologies en matière de drones et des nouveaux marchés</li>

		<li>de bénéficier des informations juridiques et sectorielles.</li>

		<li>de pouvoir bénéficier de prix attractifs sur les matériels et applications liés aux drones.</li>

		<li>de pouvoir communiquer sur leur entreprise, marque et savoir-faire.</li>

	</ul>
	<p>DIAG DRONE rappelle l’arrêté du 18 mai 2018, relatif aux exigences applicables aux télépilotes qui utilisent des aéronefs civils circulant sans personne à bord à des fins autres que le loisir, fixe les modalités relatives à la formation des télépilotes dans le cadre de l’usage professionnels de drones.</p>

	<p>Cet arrêté met en place un examen théorique spécifique télépilotes, fixe des exigences de formation pratique et organise les conditions selon lesquelles les télépilotes, en activité avant le 1er juillet 2018 peuvent continuer à les exercer</p>

	<p>Donc, depuis le 1er juillet 2018, pour exercer une activité de télépilote dans le cadre de l’usage professionnel de drones, il est obligatoire d’être titulaire d’un certificat théorique de télépilote délivré après la réussite à l’examen théorique adapté aux activités des télépilotes.</p>

	<p>L’OTD souscrivant au Service déclare donc être parfaitement en règle au regard de la règlementation en la matière.</p>

	<p>Pour utiliser le Service, l’OTD accepte de se soumettre aux présentes Conditions Générales d'Utilisation OTD (ci-après les "CGU OTD ") sans restriction ni réserve. Cette acceptation se matérialise par un clic de validation lors de son inscription sur le Service.</p>

	<p>Les Prestations réalisées par l'intermédiaire du Service entre les Demandeurs et les OTD sont quant à elles régies par les Conditions Générales de Vente (ci-après les "CGV") qui sont réputées acceptées par l’OTD lors de chaque confirmation de commande ; elles complètent les présentes CGU OTD.</p>

	<p>DIAG DRONE Vous invite à prendre connaissance des CGV en cliquant sur les Conditions Générales d'Utilisation OTD.</p>

	<p>DIAG DRONE se réserve la possibilité de modifier les présentes CGU. Toute modification prendra effet immédiatement pour les Prestations en ligne dès leur notification à l’OTD. Elles ne s'appliqueront pas pour les transactions en cours au moment de leur entrée en vigueur.</p>

	<p>Toutes communications entre DIAG DRONE et l’OTD s’effectueront par voie de SMS et confirmation par mail.</p>

	<ul class="paragraphe">


		<li>
			<b>
				Objet</b>
			<br>
			<p>Les présentes CGU OTD ont pour objet de définir les conditions dans lesquelles DIAG DRONE met à la disposition des OTD, dans le cadre du Service, des outils technologiques permettant à ceux-ci de faciliter la réalisation de leurs Prestations et d’optimiser les réalisations de leurs formalités administratives et comptables et de permettre le paiement de leurs prestations en ligne.</p>

		</li>
		<li>
			<b>Description du service</b><br>
			<p>Le Service est constitué d'un ensemble d'outils permettant aux OTD</p>
			<ul class="paragraphe">

				<li>de mettre à disposition des OTD des outils de gestion administratifs et d’assistance administrative afin d’optimiser et de simplifier le travail administratif des OTD et de paiements en ligne de leurs prestations</li>

				<li>de rentrer, par son intermédiaire, en relation avec des Demandeurs particuliers ou professionnels (ci-après "Demandeurs"), également inscrits sur le Site, dans le but de réaliser des prestations (ci-après les "Prestations") soit à prix fermes, soit sur devis (ci-après le "Service").</li>

				<li>de mettre à disposition des outils, notamment de planification des vols et d’obtention des autorisations administratives liées à la profession.</li>

				<li>de bénéficier des toutes dernières technologies en matière de drones et des nouveaux marchés</li>

				<li>de bénéficier des informations juridiques et sectorielles.</li>

				<li>de pouvoir bénéficier de prix attractifs sur les matériels et applications liés aux drones.</li>

				<li>de pouvoir communiquer sur leur entreprise, marque et savoir-faire.</li>

			</ul>

			<p>Les transactions effectuées via le Service avec des Demandeurs sont conclues directement entre ces derniers et les OTD. DIAG DRONE n'est en aucun cas revendeur des Prestations proposées par les OTD par l'intermédiaire du Service.</p>

			<p>Par ailleurs, en cas de non-respect des présentes CGU OTD, DIAG DRONE se réserve le droit d'interrompre de manière temporaire ou définitive l'accès au Service à l’OTD concerné, en suspendant ou en résiliant les présentes dans les conditions prévues ci-dessous</p>


		</li>
		<li>
			<b>Accès au service</b><br>
			<p>Outre l'acceptation des présentes CGU OTD, l'accès au Service est subordonné à l'ouverture d'un compte utilisateur OTD auprès de DIAG DRONE et au paiement d’un abonnement mensuel dans les conditions financières décrites ci-après.</p>

			<p>Vous devez pour cela fournir les données permettant votre identification ainsi que vos coordonnées.
			</p>

			<p>Lors de l'ouverture de ce compte, Vous vous engagez à ne fournir que des informations exactes, puis à informer DIAG DRONE sans délai de tout changement les affectant.</p>

			<p>L’accès au service est limité à l’ouverture d’un seul compte, tout doublon de compte se verra immédiatement supprimé sauf validation préalable par DIAG DRONE.</p>

			<p>Pour utiliser le Service, vous devez utiliser l'identifiant et le mot de passe créés lors de l'ouverture de votre compte. Les identifiants et mots de passe sont placés sous l’entière et unique responsabilité de l’OTD. L’OTD s’engage à prendre toutes mesures utiles pour qu’ils ne soient pas connus de tiers ou utilisés par des personnes non autorisées. L’OTD a la responsabilité de la préservation de la confidentialité des identifiants et mots de passe. L’OTD est à cet égard responsable des conséquences de la perte ou du détournement des identifiants et mots de passe.</p>

			<p>En cas de perte, de détournement ou d'utilisation frauduleuse de votre identifiant et/ou de votre mot de passe, l’OTD s’engage à en avertir par mail et par texto immédiatement le service commercial depuis la page de connexion du compte OTD.</p>

			<p>L’OTD est responsable des accès indus, dommages, perturbations et conséquences dommageables causés par votre manquement à la confidentialité des identifiants.</p>

		</li>
		<li>
			<b>Sous compte OTD</b>
		</li>
		<p>DIAG DRONE offre la faculté de créer plusieurs sous-comptes utilisateurs dépendant d’un même compte principal.
		</p>

		<p>Ces sous-comptes utilisateurs dépendront du compte utilisateur principal qui gèrera les droits et autorisations alloués aux sous comptes.</p>

		<p>Ces sous comptes seront dotés d’identification et de mot de passe propres régis par les mêmes conditions d’utilisation que précisé ci-dessus.</p>
		<li>
			<b>Conditions financières</b>
		</li>

		<p>Outre l’acceptation des présentes CGU, l’accès au service est subordonné à la souscription d’une des formules abonnement proposées par DIAG DRONE.</p>

		<p>Les différentes formules d’abonnement sont les suivantes :</p>


		<div class="ligne1">
			<div class="formuleAbo">
				<b>FORMULE D'ABONNEMENT</b>
			</div>
			<div class="service">
				<b>SERVICE PROPOSÉS</b>
			</div>
			<div class="prix">
				<b>PRIX MENSUEL HT</b>
			</div>

		</div>
		<div class="ligne2">

			<div class="access">
				<b>DIAG DRONE ACCESS</b>
			</div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="montant"></div>
		</div>
		<div class="ligne3">
			<div class="access">
				<b>DIAG DRONE INFINIT</b>
			</div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="case"></div>
			<div class="montant"></div>

		</div>
		<p>La souscription à l’une des formules d’abonnement proposées par DIAG DRONE s’effectuera par un clic sur l’option retenue.</p>

		<p>La facturation s’effectuera au prix fixé pour l’abonnement choisi. Le règlement s’effectuera par prélèvement directement sur le compte bancaire de l’OTD. Le prélèvement sera mensuel à la date du 5 de chaque mois.</p>

		<p>DIAG DRONE a la possibilité de conclure des accords spéciaux, et notamment tarifaires, avec toutes personnes de son choix. Dans cette hypothèse, les accords dérogatoires feront l’objet d’un échange direct entre les parties concernées.</p>

		<p>L’abonnement est valable pour une durée ferme de
					......
						€
																																																																																																																																																												mois de date à date. Il sera renouvelable par tacite reconduction pour des durées similaires successives, sauf dénonciation préalable émanant de l’une ou l’autre des parties avec un préavis un mois avant la date d’échéance de la période en cours. Les tarifs seront modifiables par DIAG DRONE à chaque fin d’abonnement.</p>

		<p>Le non-paiement d’une échéance entrainera suspension immédiate de l’accès au Service et la résiliation éventuelle du présent contrat dans les conditions énoncées ci-après.</p>
		<li>
			<b>Description spécifique du service planification des vols et déclarations</b><br>

			<p>L’offre DIAG DRONE donne accès selon l’option choisie aux services décrits ci-après.</p>

			<p>6.1. Prestations de planifications de missions de vols et assistance</p>

			<p>DIAG DRONE ouvre aux OTD un service de planification de mission et d’assistance aux vols en zones règlementées.</p>

			<p>DIAG DRONE sur la base des informations communiquées par l’OTD, et notamment le planning, la zone et la nature de l’intervention, remet à l’OTD un plan de vol conforme à la règlementation en la matière, en alertant notamment l’OTD sur les contraintes et interdictions de vols du fait de zones règlementées.</p>

			<p>DIAG DRONE transmet également à l’OTD les informations officielles publiées par l’administration (NOTAM) qui pourraient impacter, au jour prévu, la réalisation du vol, voire même l’interdire.</p>

			<p>6.2 	Mandat de réalisation des prestations administratives préalables au vol.</p>

			<p>DIAG DRONE permet à l’OTD de lui déléguer la réalisation de certaines taches administratives déclaratives préalables à la réalisation de ses Prestations. La réalisation de ces déclarations implique pour l’OTD de confier un mandat à DIAG DRONE.</p>

			<p class="souligne">Conformément aux textes en vigueur et notamment :</p>

			<ul class="tiret">
				<li>-   L’Arrêté du 18 mai 2018 relatif aux exigences applicables aux télépilotes qui utilisent des aéronefs civils circulant sans personne à bord à des fins autres que le loisir ;</li>
				<br>
				<li>-   L’Arrêté du 17 décembre 2015 modifié relatif à la conception des aéronefs civils qui circulent sans personne à bord ;</li>
				<br>
				<li>-   Le Décret 2019-660 du 26 juin 2019 ;</li>
			</ul>
			<p>DIAG DRONE rappelle aux OTD qu’ils sont tenus de respecter la règlementation applicable en la matière et notamment à procéder aux déclarations de vols qui s’avèrent obligatoires dans certaines zones.</p>

			<p>DIAG DRONE propose aux OTD de procéder en leur nom et pour leur compte, via le portail web mis à disposition par la Direction Civile de l’Aviation à l’adresse suivante :
				<a href="https://alphatango.aviation-civile.gouv.fr">https://alphatango.aviation-civile.gouv.fr</a>, de procéder aux démarches règlementaires préalables à la réalisation de Prestations commandées par le biais du Service.</p>


			<p>La souscription à ce service s’effectue en cliquant sur le bouton créé à cet effet sur l’espace personnel de l’OTD.</p>

			<p>La souscription à ce service donne un mandat général à DIAG DRONE de procéder au nom et pour le compte de l’OTD aux déclarations administratives nécessaires préalables à la réalisation du vol.</p>

			<p>De plus, pour chaque opération, un mandat spécial sera conclu entre les parties sur le modèle de mandat accessible ici.</p>

			<p>La déclaration effectuée par DIAG DRONE sera réalisée sur la base des renseignements donnés par l’OTD des caractéristiques du vol prévu. DIAG DRONE ne saurait être tenu responsable d’une erreur dans la déclaration, d’une omission, d’une fausse déclaration dans l’hypothèse où l’OTD ne lui aurait pas donné l’ensemble des renseignements nécessaires à la parfaite réalisation de ce service. De convention expresse entre les Parties, DIAG DRONE n’est astreint qu’à une obligation de moyens et non de résultats.</p>

			<p>Pour la réalisation de ce service, l’OTD confiera à DIAG DRONE ses identifiants pour accéder au portail mentionné ci-dessus et/ou donnera à DIAG DRONE, mandat, en cas d’absence, pour la création d’un compte sur le portail Alphatango mentionné ci-dessus.</p>

			<p>DIAG DRONE s’engage à n’utiliser lesdits identifiants que dans le cadre de la réalisation de ce service. Il les détruira à première demande de l’OTD.</p>

			<p>DIAG DRONE facturera à l’OTD le prix de …………………. € HT par déclaration réalisée par son intermédiaire. DIAG DRONE a la possibilité de conclure des accords spéciaux, et notamment tarifaires, avec toutes personnes de son choix. Dans cette hypothèse, les accords dérogatoires feront l’objet d’un échange direct entre les parties concernées.</p>

			<p>Cette somme sera prélevée pour chaque souscription à ce service par DIAG DRONE directement sur le compte bancaire de l’OTD.</p>

		</li>
		<li>
			<b>Description spécifique du service Outils CRM</b>
			<br>
			<p>DIAG DRONE offre via le Service des outils de gestion intégrée permettant à l’OTD de professionnaliser son activité.</p>

			<p>DIAG DRONE met ainsi à disposition de l’OTD un outil lui permettant de gérer la commercialisation de ses prestations.</p>

			<p>Ainsi, le service lui met à disposition un cadre de documentation commerciale conforme à la législation actuelle.</p>

			<p class="souligne">Cette documentation commerciale est composée :</p>

			<ul class="tiret">
				<li>1°	D’un modèle de devis</li>

				<li>2°	D’un modèle de bon de commande</li>

				<li>3°	D’un modèle de facture.</li>

				<li>4°	D’un modèle de rapport d’intervention</li>

				<li>5°	d’autres documents divers</li>

			</ul>
			<p>Le Service permet à l’OTD de générer ladite documentation, de la modifier et de la diffuser et de l’archiver.</p>

			<p>DIAG DRONE garantie que l’ensemble de cette documentation est conforme aux règlements et loi en vigueur, et notamment que les facture répondent aux dispositions des articles 289 et 290 quinquies du Code Général des Impôts.</p>

			<p>Le Service permet également une numérotation alphanumérique des factures émises par l’OTD conforme à la règlementation en vigueur.</p>

			<p>L’archivage des données de l’OTD est assuré par DIAG DRONE dans la limité d’un volume de ………….. Octets.</p>

			<p>DIAG DRONE offre la possibilité aux OTD de disposer d’un espace de stockage de données supplémentaires dont le tarif pourra être communiqué sur demande.</p>

			<p>Les données seront conservées par DIAG DRONE pendant un délai de cinq années à compter de la date à laquelle elles ont été enregistrées sur les serveurs de DIAG DRONE. A la date anniversaire, les données seront effacées par DIAG DRONE sans aucun recours à son encontre. Les données dont la date d’archivage arrivera à expiration devront être sauvegardées sur des espaces de stockages propres aux OTD.
			</p>

			<p>En cas de résiliation du Contrat et quel que soit la cause, l’OTD pourra demander une sauvegarde des données hébergées sur un périphérique de stockage choisi par DIAG DRONE ou par e-mail.</p>

			<p>Si l’OTD en fait la demande expresse, DIAG DRONE s'engage à effacer et supprimer de son système les données appartenant à l’OTD. Cette suppression aura lieu dans les 10 jours suivant la demande de l’OTD. Dans l'hypothèse où aucune demande expresse de l’OTD n’est formulée dans le mois suivant la résiliation, DIAG DRONE pourra librement effacer ou non les données et ce sans limite temporelle ni préavis.</p>


		</li>
		<li>
			<b>Obligations relatives aux transactions réalisées par l'intermédiaire du service</b><br>
			<p class="souligne">8.1. Obligations d'ordre général</p>
			<p>L’OTD doit s'identifier auprès des Demandeurs comme agissant en qualité de professionnel. Il s'engage expressément à s'identifier comme agissant en qualité d’opérateur professionnel dès lors qu'il effectue des Prestations par l'intermédiaire du Service de manière régulière et à des fins lucratives.</p>

			<p>L’OTD s’engage à respecter la législation en matière d’exercice d’une activité commerciale (notamment immatriculation, obligation comptables, sociales et fiscales) En effet, l’OTD peut être tenu de souscrire des déclarations fiscales et sociales au titre de son activité sur le Site.
			</p>

			<p>L’OTD s'engage également à respecter les lois et règlements qui lui incombent en sa qualité de professionnel eu égard notamment aux Prestations qu'il vend sur le Site (tel que par exemple : déclaration auprès de la Direction Générale de l’Aviation Civile et de la préfecture).</p>

			<p>Par ailleurs, l’OTD s'interdit expressément de promouvoir directement ou indirectement, sous quelque forme que ce soit (notamment par l'insertion de liens hypertextes, de tout message dans le descriptif des Prestations, ou encore par l'utilisation de l'adresse URL de son site Internet dans son identifiant ou sur la page OTD) ses services, de même que ceux de tout autre personne.</p>

			<p>L’OTD s'engage à mettre en œuvre tous les moyens de façon à satisfaire de manière optimale à ses obligations en délivrant un service de qualité vis-à-vis des Demandeurs.</p>

			<p>Il s'engage notamment pour cela à répondre aux emails de DIAG DRONE ainsi qu'aux emails des Demandeurs dans un délai fixé selon le type de mission et intervention, et ce, en langue française.</p>

			<p>Tout échange entre l’OTD et DIAG DRONE est strictement confidentiel. L’OTD s’engage donc à ne pas divulguer le contenu de ces échanges à un tiers.</p>

			<p>L’OTD s’interdit, et sans que cette liste soit limitative, d’utiliser des visuels ou des noms commerciaux, des pseudonymes ou de tenir des propos ou autres messages qui seraient injurieux, contraires à l‘ordre public ou aux bonnes mœurs, qui porteraient atteinte aux droits de personnes ou aux droits de propriété intellectuelle de tiers, aux lois et règlements et à l’image de marque DIAG DRONE. A défaut, DIAG DRONE se réserve le droit d'interrompre de manière temporaire ou définitive l'accès au Service à l’OTD concerné, en suspendant ou en résiliant les présentes dans les conditions prévues ci-dessous.</p>

			<p class="souligne">8.2. Obligations relatives aux offres de Prestations sur le Site</p>
			<p>L’OTD s’engage et garantit qu'il ne s’engagera que sur Prestations qu’il est en mesure de réaliser.
			</p>

			<p>Il garantit que ses services ne contreviennent en aucune façon aux lois, règlementations en vigueur et normes applicables, obligatoires ou non et qu'ils ne portent pas atteinte aux droits des tiers.
			</p>

			<p>Sur le descriptif associé aux offres de Prestations qu'il propose sur le Site, l’OTD s'engage à agir de bonne foi. Il est seul responsable de l'exactitude des mentions y figurant et s'engage à ce qu'elles ne risquent pas d'induire en erreur les Demandeurs potentiels, tant sur les caractéristiques de la Prestations, que sur son prix.
			</p>

			<p>Le Demandeur s'engage en outre à ce que les illustrations / visuels/films/ vidéos, … fournis dans le descriptif associé aux offres de Prestations qu'il propose (photographie, dessin, etc.) soient conformes aux Prestations ainsi illustrées et respectent les droits des tiers et qu’ils ne portent pas atteinte à l‘ordre public ou aux bonnes mœurs.
			</p>

			<p>Il garantit DIAG DRONE qu'il dispose des droits, en particulier de propriété intellectuelle, afférents à ces illustrations, qui lui permettent de les utiliser afin de présenter les Prestations.</p>

			<p>Conformément aux dispositions de la loi du 21 juin 2004, dite « LCEN » (Loi pour la Confiance en l’Économie Numérique) DIAG DRONE pourra supprimer toute information mise en ligne sur le Site par un OTD en cas de notification d’un tiers faisant état du caractère illicite de cette information ou d’une violation d’un droit</p>
			<p class="souligne">8.3. Obligations relatives au prix des Prestations</p>

			<p>Le prix de vente des Prestations est défini librement par L’OTD, dans le respect des lois et règlements en vigueur.</p>

			<p>Ce prix doit être mentionné sur le Site toutes taxes et frais compris (notamment TVA au taux en vigueur, frais de déplacement, etc...).</p>

			<p>Ainsi il ne pourra pas être demandé à l’Acheteur de régler toute autre somme que celle figurant dans le descriptif de la proposition de Prestation.
			</p>
			<p class="souligne">8.4. Obligations relatives à la vente des Prestations</p>

			<p>Les contrats de réalisation des Prestations proposés par l’OTD sur le Site sont conclus entre l’OTD et le Demandeur.
			</p>

			<p>L’OTD s’engage au jour de son inscription à renseigner une zone géographique sur laquelle il peut intervenir. Il s’engage également à renseigner le type de Prestation qu’il peut réaliser et la liste du matériel dont il dispose. Ces renseignements sont modifiables à tous moments.</p>

			<p>Il s'engage à n'offrir sur le Site que des Prestations disponibles et à supprimer sans délai du Site toute offre se rapportant à des Prestations qu’il n’est plus en mesure de fournir. L’OTD est seul responsable en cas d’indisponibilité de la Prestation qu’il ne peut plus fournir.</p>

			<p>Dans le cadre de son inscription, l’OTD doit renseigner, concernant des prestations standards décrites sur le Site, des prix d’intervention ferme, sur la zone géographique renseignée.
			</p>

			<p>Ces prix fermes seront ceux proposés aux Demandeurs par l’intermédiaire du Service dans le cadre d’une recherche effectuée par leur soin.  Ces offres fermes lient l’OTD qui ne peut refuser de l’exécuter au motif d’une inadéquation du prix avec le service proposé.</p>

			<p>Pour les Prestations non listées dans le cadre de l’inscription au service, l’OTD peut être sollicité, par l’intermédiaire du Service à émettre un devis au titre d’une demande effectuée par un utilisateur.</p>

			<p>Dans l’hypothèse ou un Demandeur sélectionne une Prestation à prix ferme proposée par l’OTD , ce dernier reçoit une notification par voie d’e mail et de sms.</p>

			<p>Concernant les Prestations faisant l’objet d’une Demande de Devis, l’OTD doit répondre à la demande de sollicitation ou de devis dans un délai fixé selon le type de mission et d’intervention.</p>

			<p>Aussi, l’OTD s'engage à consulter régulièrement, et au moins une fois par jour ouvré, les messages reçus à l'adresse et au numéro fournis à DIAG DRONE lors de l'ouverture de son compte puis, par la suite, en cas de changement affectant ces informations, et ce, afin d’être en mesure de répondre aux demandes de devis émises par les Demandeurs.</p>

			<p>La sélection d’une Prestation à prix ferme par un Demandeur et/ou l’émission d’un devis et la confirmation de la commande implique pour l’OTD, l'engagement ferme de réaliser la prestation commandée dans le délai annoncé.
			</p>

			<p>A défaut de réponse de l’OTD dans le délai auquel il est fait référence à l'alinéa précédent, la demande de réalisation de Prestation sera automatiquement annulée.</p>

			<p>En cas d'absence ou d'indisponibilité de plus de 2 jours ouvrés, l’OTD doit suspendre temporairement la mise en ligne de ses Prestations à vendre à l'aide de l'outil "mise en vacances" mis à sa disposition sur le Service.</p>

			<p>L’OTD a l'obligation de respecter les modalités de réalisation de prestations convenues avec le Demandeur.</p>

			<p>La mise à disposition du support (rapport d’intervention) lié à la Prestation devra être effectuée dans un délai fixé en fonction de la mission et de l’intervention.
			</p>

			<p>Ce support devra être conforme au support mis à disposition par l’intermédiaire du Service, dont l’utilisation est obligatoire.</p>

			<p>L’utilisation de tout autre support est interdite via le site. La communication d’un autre support directement entre l’OTD et le demandeur est possible. Elle s’effectuera sous la responsabilité de l’OTD, sans recours contre DIAG DRONE.</p>

			<p class="souligne">8.5. Obligations relatives aux contestations relatives aux Prestations</p>

			<p>De manière générale, l’OTD s'engage à mettre en œuvre, de bonne foi, tous les moyens nécessaires afin de remplir ses obligations en délivrant un service de qualité aux Demandeurs.</p>

			<p>À tout moment, le Demandeur a la possibilité de contacter l’OTD, d’adresser toute demande ou réclamation relative aux Prestations commandées.</p>

			<p>En cas de réclamation d'un Demandeur concernant une Prestation, y compris lorsque l’OTD est informé de ladite réclamation par l'envoi d'un message de DIAG DRONE, l’OTD fait son affaire personnelle de la résolution du différend qui l'oppose au Demandeur. Les litiges sont directement réglés entre eux.
			</p>

			<p>L’OTD devra faire ses meilleurs efforts pour résoudre le litige l'opposant au Demandeur amiablement.</p>

			<p>DIAG DRONE se réserve le droit de suspendre ou résilier l’accès au Service en cas d’atteinte par l’OTD d’un taux de réclamation supérieur à 5% de ses commandes depuis l’ouverture de son compte.</p>

			<p class="souligne">8.6 Non-respect des obligations par L’OTD.</p>


		</li>
		<li>
			<b>Dispositions financières</b>
			<br>
			<p>Pour chaque commande de Prestations reçue par un OTD, DIAG DRONE percevra de la part du de l’OTD une commission égale à 10 % du prix total de la Prestation.</p>

			<p>DIAG DRONE a la possibilité de conclure des accords spéciaux avec toutes personnes de son choix. Dans cette hypothèse, les accords dérogatoires feront l’objet d’un échange direct entre les parties concernées.</p>

			<p>Toutes demandes de Prestations fera l’objet de versement d’un acompte d’un montant de 30% du montant totale de la Prestation convenue, payable au jour de la confirmation de la commande. Ce versement s’effectuera par le biais du système MANGOPAY.</p>

			<p>La commission due à DIAG DRONE dans le cadre d’une mise en relation s’effectuera par prélèvement sur les sommes versées par le Demandeur via le service MANGOPAY. La souscription et l’acceptation des présentes CGV vaut acceptation pleine et entière par l’OTD du versement de la commission due à DIAG DRONE par MANGOPAY dans le cadre du service.</p>

			<p>Le solde sera reversé par MANGOPAY conformément aux conditions générales de leur service de paiement, accessibles ici. L’adhésion et la souscription au Service vaudra acceptation pleine, entière et sans réserve desdites CGV MANGOPAY.
			</p>

			<p>Le solde du paiement du prix de la Prestation sera effectué directement entre l’OTD et le Demandeur, soit par directement entre eux sans intervention de DIAG DRONE, soit par l’intermédiaire de DIAG DRONE, par un paiement carte bleue sur le service MANGOPAY.</p>

		</li>
		<li>
			<b>Évaluation des OTD</b><br>
			<p>DIAG DRONE met à la disposition des Demandeurs des moyens leur permettant d'évaluer la performance des OTD  à l'issue réalisation de la Prestation, permettant ainsi aux autres Demandeurs de faire réaliser des Prestations auprès des OTD les plus sérieux et qui respectent le mieux les conditions d'utilisation du Service.</p>

			<p>L'appréciation est réalisée suivant des critères d'évaluation choisis et modifiables à tous moments par DIAG DRONE et par l'attribution d’une note de 1 à 10</p>

			<p>Au jour de l’inscription au Service et avant toute réalisation d’une Prestation, l’OTD se verra attribué par défaut une note de 5.</p>

			<p>Ces notes varieront automatiquement en fonction de celles attribuées par les Demandeurs dans le cadre de l’utilisation du Service et suivants les différents critères choisis par DIAG DRONE.
			</p>

		</li>

		<li>
			<b>Classement des offres</b>
			<p>Les Prestations OTD seront visibles par les Demandeurs selon les critères qu’ils auront recherchés.</p>

			<p>L’ordre d’affichages des Prestations s’effectuera selon les critères suivants :</p>
			<ul class="tiret">

				<li>-	Conditions optimums de réalisation de la Prestation (matériels, rayon d’action, savoir-faire particulier) ;</li>

				<li>-	Le cas échéant, adéquation avec le prix conseillé par DIAG DRONE (du plus petit écart au plus grand) ;</li>

				<li>-	Notation de l’OTD ;</li>

				<li>-	Ordre alphabétique.</li><br>
			</ul>
		</li>
		<li>
			<b>Suspension – Résiliation</b>

			<p>12.1 Les présentes Conditions Générales d’Utilisation sont conclues pour une durée indéterminée. DIAG DRONE peut en conséquence résilier les CGU à tout moment sans avoir à en justifier moyennant le respect d’un préavis de 2 mois.</p>

			<p>12.2 En cas de manquement par l’OTD à l’une quelconque de ses obligations, DIAG DRONE pourra, après mise en demeure, envoyée par tous moyens, restée sans effet pendant une durée de 15 jours, résilier le présent Contrat, par simple envoi d'une lettre recommandée avec avis de réception.</p>

			<p>12.3 En cas de manquement grave et/ou répété par l’OTD à ses obligations ou affectant ses comptes, tel que notamment et sans que cette liste soit limitative : fraude, propos injurieux, contrefaçon, atteinte aux droits des tiers, (...), DIAG DRONE pourra résilier l’abonnement sans préavis et sans que l’OTD  ne puisse prétendre à une quelconque indemnité.</p>

			<p>12.4 Service de médiation pour les litiges de consommation - Règlement en ligne des litiges
																																																																																																																								Conformément à la règlementation, DIAG DRONE propose aux Acheteurs un service de médiation pour les litiges de consommation liés aux transactions réalisées par l’intermédiaire du Service.
			</p>
			<p>Les frais de médiation seront refacturés par DIAG DRONE à l’OTD.</p>

			<p>Plateforme de Règlement en Ligne des Litiges : Conformément à l’article 14 du Règlement (UE) n°524/2013, la Commission Européenne a mis en place une plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l’Union européenne.</p>

			<p>Cette plateforme est accessible au lien suivant :
				<a href="https://webgate.ec.europa.eu/odr/">https://webgate.ec.europa.eu/odr/</a>

			</p>


		</li>
		<li>
			<b>Données personnelles</b>
			<br>
			<p>Les informations et données relatives à toutes personnes physiques représentant les OTD sont traitées par DIAG DRONE ; sauf mention contraire, elles sont indispensables à la gestion du compte de l’OTD et de son accès au service. Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires incombant, le cas échéant, à DIAG DRONE, ainsi que pour permettre à DIAG DRONE d'améliorer et de personnaliser les services proposés aux utilisateurs du Site, ainsi que les informations adressées à l’OTD. Dans ce cadre, l’OTD peut être amené à recevoir des informations liées au Service de la part de DIAG DRONE.</p>

			<p>Conformément à la loi dite "informatique et libertés" du 6 janvier 1978, L’OTD dispose d'un droit d'opposition, d'accès, de rectification et de suppression sur les données personnelles le concernant, dans les conditions prévues par la loi. Pour les exercer, l’OTD doit écrire par courrier à DIAG DRONE, mentionnant ses nom, prénom, adresse e-mail et son identifiant, à l’adresse suivante :</p>

			<div class="adresse">DIAG DRONE SAS</div>

			<div class="adresse">Agroparc Bâtiment a
			</div>

			<div class="adresse">Montfavet</div>

			<div class="adresse">84911 AVIGNON CEDEX</div>

			<p>Conformément à la réglementation en vigueur, toute demande présentée à ce titre devra être accompagnée de la photocopie d'un titre d'identité portant la signature du demandeur et préciser l'adresse à laquelle doit parvenir la réponse. Une réponse sera alors adressée dans un délai maximum de 2 mois suivant la réception de la demande.
																																																																																																
																																																																																																DIAG DRONE utilise des cookies.
			</p>
			<p>S'agissant des données relatives aux commandes de Prestations de l’OTD collectées dans le cadre du Service, DIAG DRONE informera les Demandeurs qu'elles sont destinées à DIAG DRONE, et que les informations nécessaires à la réalisation des Prestations seront transférées, à cette seule fin, à l’OTD</p>

			<p>L’OTD s'engage irrévocablement à utiliser les données personnelles du Demandeur qui lui seront transmises par DIAG DRONE uniquement pour les besoins de la réalisation des Prestations et pour lui permettre de s'acquitter des obligations légales qui s'y attachent. Il s'engage à n'en conserver aucune copie dès qu'il aura procédé à l'expédition de la ou des Prestation(s) commandée(s). Toute autre utilisation, location, vente, revente ou copie de la part de l’OTD sont interdites. Dans ce cadre, l’OTD peut être amené à recevoir des informations liées au Service de la part de DIAG DRONE.</p>


		</li>
		<li>
			<b>. Propriété intellectuelle</b>
			<br>
			<p>14.1 - Tous les textes, commentaires, ouvrages, illustrations, œuvres et images reproduits ou représentés sur le Site sont strictement réservés au titre du droit d'auteur ainsi qu'au titre de la propriété intellectuelle, pour toute la durée de protection de ces droits et pour le monde entier. À ce titre et conformément aux dispositions du Code de la propriété intellectuelle, seule l'utilisation pour un usage privé, sous réserve de dispositions différentes voire plus restrictives du Code de la propriété intellectuelle, est autorisée. Toute reproduction ou représentation totale ou partielle du Site ou de tout ou partie des éléments se trouvant sur le Site est strictement interdite.</p>

			<p>14.2 - Les dénominations sociales, marques et signes distinctifs reproduits sur les sites de DIAG DRONE sont protégés au titre du droit des marques. La reproduction ou la représentation de tout ou partie d'un des signes précités est strictement interdite et doit faire l'objet d'une autorisation écrite préalable du titulaire de la marque.</p>

			<p>14.3 - Certains Prestations font l'objet de droits d'utilisation personnels et spécifiques réglementant les copies, diffusions publiques, locations. L’OTD doit respecter les conditions générales de vente de ces Prestations et DIAG DRONE ne saurait être responsable des utilisations qui pourraient être faites des Prestations dans ce cadre.</p>

		</li>
		<li>
			<b>Responsabilité</b><br>

			<p>L’OTD garantit et indemnisera à première demande DIAG DRONE contre tout dommage subi par DIAG DRONE et contre toute action en responsabilité qui serait engagée à l'encontre de DIAG DRONE à raison de la violation par l’OTD d'un droit quelconque d'un tiers, y compris d'un Demandeur que ce dommage résulte de la réalisation de Prestations, de l'utilisation faite par l’OTD du Service, ou de toute autre fait qui lui serait imputable.</p>

			<p>La responsabilité de DIAG DRONE envers l’OTD ne peut être engagée que pour des faits qui lui seraient directement imputables et est en tout état de cause limitée au montant correspondant aux commandes réalisées dans le mois précédent. Elle ne peut être engagée pour les préjudices indirects, notamment la perte de chance de réaliser des Prestations en cas d'indisponibilité du Service. La responsabilité de DIAG DRONE ne peut pas non plus être engagée du fait de la mauvaise utilisation du Service par l’OTD.</p>

			<p>DIAG DRONE décline toute responsabilité en ce qui concerne les ventes conclues entre les OTD et les Demandeurs par l'intermédiaire de son Service. Toute réclamation relative aux Prestations, (description, réalisations, modalités, etc.) qui serait portée à la connaissance de DIAG DRONE sera transmise à l’OTD concerné, qui assumera l'entière et seule responsabilité.</p>

		</li>

		<li>
			<b>Nullité partielle</b><br>
			<p>Si une ou plusieurs stipulations des présentes CGU OTD sont tenues pour non valides ou déclarées comme tel en application d'une loi, d'un règlement ou d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et toute leur portée.</p>

		</li>
		<li>
			<b>Loi applicable / Attribution de compétences</b>
			<p>Les présentes CGU OTD sont soumises au droit français.</p>

			<p>Tout différend qui viendrait à se produire entre DIAG DRONE et un OTD relatif à l’existence, l’interprétation ou l’exécution du présent contrat, sera tranché par les Tribunaux d’AVIGNON, nonobstant pluralité de défendeurs ou appels en garantie, y compris pour les procédures en référé ou sur requêtes.</p>

		</li>
		<li>
			<b>Anti-Corruption</b>

			<p>Les Parties conviennent que, pendant toute la durée du Contrat, et par la suite, elles se conformeront et prendront des mesures raisonnables pour s’assurer que leurs sous-traitants, leurs agents ou d’autres tiers, soumis à leur contrôle ou à leur influence déterminante, se conformeront aux dispositions suivantes.</p>

			<p>Les Parties interdiront les pratiques suivantes à tout moment et sous quelque forme que ce soit, à l’égard d’un agent public au niveau international, national ou local, d’un parti politique, d’un dirigeant de parti ou d’un candidat à des fonctions politiques, et d’un directeur, d’un agent ou d’un employé d’une Partie, indépendamment du fait que ces pratiques soient adoptées directement ou indirectement, y compris par l’entremise de tiers :</p>

			<ul class="tiret">

				<li>
					<La>a) La corruption désigne le fait d’offrir, de promettre, de donner, d’autoriser ou d’accepter tout avantage pécuniaire indu ou tout autre avantage indu, de la part de ou pour l’une des personnes susmentionnées ou pour un tiers dans le but d’obtenir ou conserver un marché ou un autre avantage indu, par ex. en lien avec des attributions de contrats d’achat publics ou privés, des permis réglementaires, la fiscalité, les douanes ou des procédures judiciaires et législatives.La corruption inclut notamment :</p>
				</li>
			</p>
			<ul class="tiret">

				<li>·	Le fait de remettre une partie d’un paiement d’un contrat à un gouvernement ou des responsables de partis ou à des employés de l’autre Partie contractante, leurs proches, leurs amis ou leurs partenaires commerciaux ou à l’aide d’intermédiaires tels que des agents, des sous-traitants, des consultants ou d’autres tiers, afin d’attribuer des paiements à un gouvernement ou des responsables de partis, ou à des employés de l’autre Partie contractante, leurs proches, leurs amis ou leurs partenaires commerciaux.</li>
				<li>·	L'extorsion ou la sollicitation désigne la demande d’un pot-de-vin, associée ou non à une menace si cette demande est refusée. Chaque Partie s’opposera à toute tentative d’extorsion ou de sollicitation et est invitée à signaler ces tentatives par le biais des mécanismes de rapport formels ou informels disponibles, à moins que ces rapports soient réputés être contre-productifs compte tenu des circonstances.</li>
			</ul>
		</li>
		<br>
		<li>b)	Le trafic d’influence consiste à offrir ou à solliciter un avantage indu afin d’exercer une influence inappropriée, réelle ou supposée, en vue d’obtenir auprès d’un agent public ou privé un avantage indu pour l’instigateur initial de l’acte ou pour toute autre personne.</li>
		<br><li>c)	Le fait de blanchir le produit des pratiques de corruption susmentionnées consiste à dissimuler ou déguiser l’origine, la source, le lieu, la disposition, le mouvement ou la propriété illicite de biens, en sachant que ces biens sont le produit d’activités criminelles. Les termes « corruption » ou « pratique(s) de corruption », tels qu’ils sont utilisés dans la présente Clause Anticorruption de DIAG DRONE, incluent la corruption, l’extorsion ou la sollicitation, le trafic d’influence et le blanchiment du produit de ces pratiques.</li>
	</ul><br>
	<li>
		<b>Web store</b><br>
		<p>L’accès au Service peut être effectuée via l’application HELP DRONE disponible sur des appareils utilisant APPLE STORE ou ANDROID STORE.</p>

		<p>Les présentes CGU OTD s’appliqueront indifféremment sur ces supports
		</p>

	</li>


</ul></div>
