<footer>
	<div class="barre9"></div>
	<div class="footerLogoEnt">
		{% if rapport.intervention.reservation.salarie.entreprise.logo %}

			<img src="../public/uploads/logo/{{ rapport.intervention.reservation.salarie.entreprise.logo}}" alt=""width="50%" height="50%">


		{% endif %}
	</div>
	<div class="footerLogoDD">
		<img src="../public/css/css_site/images/logo-diagdrone.png" alt="" width="100%" height="50%">
	</div>
	<div class="numPage">
		<span>Page n° {PAGENO}</span>
	</div>


</footer>
