<div class="intro">
	<span>
		L'exploitant est responsable du respect de toute règle européenne et nationale applicable, notamment en ce qui concerne la vie privée, la protection des données, la responsabilité, l'assurance, la sécurité et la protection de l'environnement. Le présent formulaire a pour but de fournir des orientations à l’exploitant afin de l'aider à identifier et à décrire les procédures visant à garantir que les opérations sont conformes au règlement (UE) 2016/679
		<i>relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.</i>
	</span>

</div>

<div class="case1">
	<span>
		<b>Identifier les risques pour la vie privée1 que l'opération envisagée peut créer :</b>
	</span>

</div>
<div class="case2">
	<div class="risqueVieprivee"></div>
</div>
<div class="case3">
	<span>
		<b>Définir votre rôle en matière de collecte et de traitement des données à caractère personnel :</b>
	</span>

</div>
<div class="case4">
	<div class="traitementDonnee">
		<input type="checkbox" name="" id="">
		<span>
			Je suis le responsable du contrôle du traitement des données</span><br>
		<input type="checkbox" name="" id="">
		<span>
			Je suis le responsable du processus du traitement des données</span>


	</div>

</div>
<div class="case5">
	<span>
		<b>Évaluation de l'impact sur la protection des données (DPIA) conformément à l'article 35 du Reg. (UE) 2016/679 :</b>
	</span>

</div>
<div class="case6">
	<div class="traiteDonnee">
		<div class="intitule">
			<span>Avez-vous évalué la nécessité d'effectuer un DPIA ?</span>

		</div>
		<div class="oui">
			<span>Oui
			</span>
			<input type="checkbox" name="" id="">
		</div>
		<div class="non">
			<span>Non
			</span>
			<input type="checkbox" name="" id="">

		</div>
		<div class="intitule" style="margin-top:0.25em">

			<span>Si oui, devez-vous effectuer un DPIA ?</span>


		</div>
		<div class="oui">
			<span>Oui
			</span>
			<input type="checkbox" name="" id="">
		</div>
		<div class="non">
			<span>Non
			</span>
			<input type="checkbox" name="" id="">

		</div>
		<div class="intitule" style="margin-top:0.25em">
			<span>Si oui, avez-vous effectué un DPIA ?</span>


		</div>
		<div class="oui">
			<span>Oui
			</span>
			<input type="checkbox" name="" id="">
		</div>
		<div class="non">
			<span>Non
			</span>
			<input type="checkbox" name="" id="">

		</div>

	</div>

</div>

<div class="case7">
	<span>
		<b>Décrivez les mesures que vous prenez pour vous assurer que les personnes concernées sont conscientes et sensibilisées que leurs données peuvent être collectées :</b>

	</span>
</div>

<div class="case8">
	<div class="risqueVieprivee"></div>

</div>
<div class="case9">
	<span>
		<b>Décrivez les mesures que vous prenez pour réduire au minimum les données à caractère personnel que vous recueillez ou pour éviter de recueillir des données à caractère personnel :</b>

	</span>
</div>
<div class="case10">
	<div class="risqueVieprivee"></div>

</div>
<div class="case11">
	<span>
		<b>Décrire la procédure établie pour stocker les données à caractère personnel et en limiter l'accès :</b>


	</span>
</div>
<div class="case12">
	<div class="risqueVieprivee"></div>

</div>
<div class="case13">
	<span>
		<b>Décrire les mesures prises pour garantir que les personnes concernées puissent exercer leur droit d'accès, de rectification, d'opposition et d'effacement :</b>


	</span>
</div>
<div class="case14">
	<div class="risqueVieprivee"></div>

</div>
<div class="case15">
	<span>
		<b>Autres informations :</b>


	</span>
</div>
<div class="case16">
	<div class="risqueVieprivee"></div>

</div>
<div class="info">
	<span>
		<b>Voir informations dans le document R5-UAS-SPEC-F3Bis</b>
	</span>

</div>
