<div class="intro">
	<span>
		L'exploitant est responsable du respect de toute règle européenne et nationale applicable, notamment en ce qui concerne la vie privée, la protection des données, la responsabilité, l'assurance, la sécurité et la protection de l'environnement. Le présent formulaire a pour but de fournir des orientations à l’exploitant afin de l'aider à identifier et à décrire les procédures visant à garantir que les opérations sont conformes au règlement (UE) 2016/679
		<i>relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données.</i>
	</span>

</div>
<div class="reste">
	<div class="nombre">
		<span class="nombre">1.</span>


	</div>

	<div class="texte">
		<span>

			Pour obtenir des conseils sur l’identification des risques
			<b>pour la vie</b>
			privée de votre entreprise, veuillez consulter :


		</span>
	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le cours de formation en ligne DR PRO</a>
		<span>: Module 1 — Risques liés à la protection de la vie privée dans leur contexte; et</span>

	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Dr PRO Privacy-by-Design Guide : Risques</a>

		<span>et garanties en matière de protection de la vie privée dans la fabrication de drones (page 10).</span>


	</div>
	<div class="nombre">
		<span class="nombre">2.</span>


	</div>

	<div class="texte">
		<span>

			Pour plus d’informations
			<b>sur les définitions de données personnelles</b>,veuillez consulter :


		</span>
	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le cours de formation en ligne DR PRO</a>


		<span>Module 2 – Qu’est-ce que les données personnelles ? et</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Code de conduite DR PRO sur la protection de</a>


		<span>a vie privée : 3. Glossaire</span>


	</div>
	<div class="texte3">
		<p>« Contrôleur de données » signifie que vous prenez des décisions sur les données personnelles collectées et sur la façon dont elles sont collectées, traitées et stockées.</p>
		<p>« Processeur de données » signifie que vous suivez les instructions d’une autre entité sur la collecte, le traitement et le stockage des données personnelles.</p>
		<p>Pour plus d’informations sur votre rôle potentiel en tant
			<b>que contrôleur de données ou processeur dedonnées</b>,  vous pouvez vérifier :</p>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le cours de formation en ligne DR PRO</a>


		<span>Module 2 – Rôles de protection des donnéeset</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le Code de conduite DR PRO sur la</a>


		<span>protection de la vie privée pour les responsabilités des contrôleurs de données.</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<span class="">Pour plus d’informations sur le moment et la façon d’effectuer des
			<b>évaluations d’impact sur la protection</b>
			des  données, veuillez consulter :</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le modèle d’évaluation d’impact de la protection des données DR PRO :</a>


	</div>
	<div class="nombre">
		<span class="nombre">3.</span>


	</div>

	<div class="texte">
		<span>

			Pour plus d’informations sur la façon
			<b>d’informer les sujets</b>
			de données sur vos activités, vous pouvez vérifier


		</span>
	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le Code de conduite dr pro en matière de :</a>

		<span>protection de la vie privée : 4.3.2 Loi de façon visible et transparente;</span>

	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le cours de formation en ligne DR PRO:</a>


		<span>: Module 3 – Effectuer votre opération; et</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">La liste de vérifications avant vol DR PRO</a>


	</div>

	<div class="nombre">
		<span class="nombre">4.</span>


	</div>

	<div class="texte">
		<span>

			Pour plus d’informations sur le
			<b>
				principe de minimisation</b>
			des données,veuillez vérifier :


		</span>
	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le Code de conduite DR PRO sur la protection de</a>
		<span>la vie privée : 4.3.1 Minimiser l’impact sur la vie privée et la protection des données des personnes;</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">The DR PRO Privacy-by-Design Guide</a>

		<span>Drone Privacy Enhancing Software Features; et</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le cours de formation en ligne DR PRO</a>


		<span>: Module 3 – Stratégies d’atténuation des risques</span>


	</div>
	<div class="nombre">
		<span class="nombre">5.</span>


	</div>

	<div class="texte">
		<span>

			Pour obtenir des conseils sur le
			<b>stockage sécurisé et l’accès</b>
			aux données personnelles, veuillez consulter :


		</span>
	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le Code de conduite DR PRO sur la protection de</a>


		<span>la vie privée : 4.4.2 Gérer les données en toute sécurité;</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le cours de formation en ligne DR PRO</a>


		<span>Module 2 – Comment traiter les données personnelles ? et</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Dr PRO Privacy-by-Design Guide</a>


		<span>: Drone Privacy Enhancing Software Features.</span>


	</div>
	<div class="nombre">
		<span class="nombre">6.</span>


	</div>

	<div class="texte">
		<span>

			Pour plus d’informations sur les
			<b>droits des sujets de données</b>,veuillez consulter:


		</span>
	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le Code de conduite dr pro en matière de</a>


		<span>protection de la vie privée : 4.3.3 Respecter les droits des personnes; et</span>


	</div>
	<div class="tiret">
		<span>—

		</span>
	</div>
	<div class="texte2">
		<a href="" class="bleu">Le cours de formation en ligne DR PRO</a>


		<span>: Module 2 – Comment traiter les personnes ?</span>


	</div>

</div>
