<div class="videIntro"></div>
<div class="intro">
	<span>L'exploitant doit présenter une demande selon le formulaire suivant. La demande et tous les documents mentionnés ou joints doivent être conservés pendant deux ans de manière à garantir leur protection contre tout accès non autorisé, tout dommage, toute modification et tout vol. La déclaration peut être complétée par la description des procédures visant à garantir que toutes les opérations sont conformes au règlement (UE) 2016/679 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, conformément au point UAS.SPEC.050(1)(a)(iv).</span>

</div>
<div class="case1">
	<span>
		<b>1. Exploitant</b>
	</span>

</div>
<div class="case2">
	<div class="nom">
		<span>Nom
			<b>(1.1)</b>
		</span>
	</div>
	<div class="divInputNom">
		<input type="text" class="inputNom">
	</div>

	<div class="enrigistrement">
		<span>N° Enregistrement
			<b>(1.2)</b>
		</span>
	</div>
	<div class="divInputEnregistrement">
		<input type="text" class="inputEnregistrement">

	</div>


</div>
<div class="case3">
	<span>
		<b>2. UAS</b>
	</span>


</div>
<div class="case4">
	<div class="contructeur">
		<span>Contructeur
			<b>(2.1)</b>
		</span>
	</div>
	<div class="divInputConstructeur">
		<input type="text" class="inputConstructeur">

	</div>
	<div class="modele">
		<span>Modèle
			<b>(2.2)</b>
		</span>
	</div>
	<div class="divInputModele">
		<input type="text" class="inputModele">

	</div>
	<div class="immat">
		<span>N° de série ou Immatriculation
			<b>(2.3)</b>
		</span>
	</div>
	<div class="divInputImmat">
		<input type="text" class="inputImmat">

	</div>

	<div class="config">
		<span>Configuration
			<b>(2.4)</b>
		</span>

	</div>
	<div class="chkbx">
		<div class="multirotor">
			<input type="checkbox" class="chkMultirotor">
			<span>
				Multirotor</span>

		</div>
		<div class="avion">
			<input type="checkbox" class="chkAvion">
			<span>
				Avion</span>
		</div>
		<div class="helico">
			<input type="checkbox" class="chkhelico">
			<span>
				Hélicoptère Hybrid/VTOL
			</span>


		</div>
		<div class="autre">
			<input type="checkbox" class="chkAutre">
			<span>
				Aérostat/Autres</span>

		</div>


	</div>

</div>

<div class="case5">
	<span>
		<b>3. OPÉRATIONS</b>
	</span>

</div>
<div class="case6">
	<div class="conops">
		<span>Conops
			<b>(3.1)</b>
		</span>


	</div>
	<div class="conopsTextArea"></div>
	<div class="manuel">
		<div class="spanManuel">
			<span>Manuel d’opération à jour
				<b>(3.2)</b>
			</span>
		</div>
		<div class="chkbxManuel">
			<input type="checkbox" name="" id="">
			<span>
				Oui</span>
			<input type="checkbox" name="" id="">
			<span>
				Non</span>
		</div>
	</div>
	<div class="risque">
		<div class="spanRisque">
			<span>Étude de risque prédéfinie (PDRA)
				<b>(3.3)</b>
			</span>
		</div>
		<div class="inputRisque"></div>
	</div>

	<div class="suite1">
		<span>Si l'opération est conforme à un PDRA publié par l'EASA, fournissez toutes les informations et la documentation qui y sont indiquées.
			<b>(3.4)</b>
			- (<b>Note</b>
			:
			<i>Si l'opération n'est pas conforme à un PDRA publié par l'AESA, fournir l'évaluation du risque opérationnel conformément à l'article 11 du règlement (UE) 2019/947)</i>


			<b>(3.5)</b>
		</span>
	</div>
	<div class="textSuite1"></div>
	<div class="suite2">
		<span>Atténuations des risques et objectifs de sécurité opérationnelle (OSO)
			<b>(3.6)</b>
		</span>
	</div>
	<div class="textSuite2"></div>
	<div class="assurance">
		<span>Une assurance est souscrite avant le début des opérations
			<b>(3.7)</b>
		</span>
	</div>
	<div class="chkbxAssu">
		<div class="assuOui">
			<input type="checkbox" name="" id="">
			<span>
				Oui</span>

		</div>
		<div class="assuNon">
			<input type="checkbox" name="" id="">
			<span>
				Non</span>

		</div>

	</div>
</div>

<div class="case7">

	<span>
		<b>4. Date souhaitée pour le début des opérations</b>
	</span>
</div>
<div class="case8">
	<input type="text" name="" id="date">
</div>

<div class="case9">
	<span>
		<b>5. Déclaration et signature :</b>
	</span>

</div>

<div class="case10">
	<div class="declaCase10">
		<p>
			<b>Je, soussigné, déclare par la présente que les opérations envisagées seront conformes :</b>
		</p>
		<p>
			<b>- à toute réglementation de l'Union et toute réglementation nationale applicable en matière de vie privée, de protection des données, de responsabilité, d'assurance, de sécurité et de protection de l'environnement ;</b>
		</p>
		<p>
			<b>- aux exigences applicables du règlement (UE) 2019/947 ; et
			</b>
		</p>
		<p>
			<b>- aux limitations et conditions définies dans l'autorisation fournie par l'autorité compétente</b>
		</p>


	</div>
	<div class="spanLieu">
		<span>Fait à :
		</span>

	</div>
	<div class="lieu"></div>
	<div class="spanDate">
		<span>Le :</span>

	</div>
	<div class="caseDate"></div>

	<div class="spanSignature">
		<span>Signature du demandeur</span>

	</div>
	<div class="signature"></div>
</div>
<div class="protection">
	<span>
		<i>
			<b>Protection des données :
			</b>
			Les données à caractère personnel figurant dans la présente demande sont traitées par l'autorité compétente conformément au règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données et abrogeant la directive 95/46/CE (règlement général sur la protection des données). Il sera traité aux fins de l'exécution, de la gestion et du suivi de la demande par l'autorité compétente conformément à l'article 12 du règlement (UE) 2019/947. Si vous souhaitez obtenir de plus amples informations concernant le traitement de vos données à caractère personnel ou l'exercice de vos droits (par exemple, pour accéder à des données inexactes ou incomplètes ou les rectifier), veuillez-vous adresser au point de contact de l'autorité compétente. Le demandeur a le droit de déposer à tout moment une plainte concernant le traitement des données à caractère personnel auprès de l'autorité nationale de contrôle de la protection des données

		</i>
	</span>

</div>
<div class="case11">
	<span>
		<b>4. Instruction pour remplir le formulaire
		</b>
	</span>

</div>
<div class="case12">
	<div class="instruction">
		<p>1.1 Le numéro d'enregistrement de l'exploitant conformément à l'article 14 du règlement 2019/947</p>

		<p>1.2 Le nom du dirigeant responsable si personne morale ou le nom de l’exploitant dans le cas d'une personne physique
		</p>

		<p>2.1 Le constructeur</p>

		<p>2.3 Le numéro de série de l'UA défini par le constructeur, ou la marque d'enregistrement pour l'UA nécessitant un enregistrement conformément à l'article 14 du règlement UAS</p>

		<p>2.4 La configuration de l'UA</p>

		<p>2.5 La masse maximale au décollage pour laquelle l'UA est conçue, exprimée en kg</p>

		<p>2.6 La vitesse air maximale exprimée en m/s et en nœuds entre parenthèses
		</p>

		<p>2.7 Indiquez les dimensions maximales de l'UA en mètres (par exemple, pour les avions : la longueur de l'envergure ; pour les hélicoptères : le diamètre des hélices ; pour les multirotors : la distance maximale entre les extrémités de 2 hélices opposées).</p>

		<p>NOTE : la section 2 peut comprendre plus d'un UA. Dans ce cas, elle doit être remplie avec les données de toutes les UAS destinées à être exploitées (des pages supplémentaires peuvent être fournies)</p>

		<p>3.1 La description de l'opération prévue. Description de la zone où elle aura lieu (c'est-à-dire urbaine, peu peuplée, industrielle, etc.) et l'espace aérien.</p>

		<p>3.3 Le numéro du PDRA, le cas échéant.</p>

		<p>3.6 Une liste des mesures d'atténuation et des OSO mis en place, comme requis par le PDRA ou proposé par l'exploitant de l'UAS si aucun PDRA n'est disponible. Des informations suffisantes doivent être fournies à l'autorité compétente pour évaluer la robustesse des mesures.</p>

		<p>3.8 Une brève description des procédures établies par l'exploitant pour garantir que toutes les opérations sont conformes au règlement (UE) 2016/679 sur la protection des données à caractère personnel, comme l'exige le point UAS.SPEC.050(1)(a)iv. Voir le formulaire  R5-UAS-SPEC-Fx</p>

		<p>Note : La signature et le cachet peuvent être fournis sous forme électronique.</p>


	</div>
</div>
