<div class="titre">
	<h3>FORMULAIRE DE RETRACTATION</h3>

</div>
<div class="corps">
	<p>Le consommateur a le droit de se rétracter du présent contrat sans donner de motif dans un délai de quatorze jours calendaires.
	</p>
	<br>
	<p>Le droit de rétractation court à compter du ………………………………………, soit la date de la validation de la commande auprès de l’OTD.</p>
	<br>
	<p>Si le consommateur ne reçoit pas ce formulaire, la période de rétractation court à compter du moment où le consommateur reçoit les informations complètes, mais expire dans tous les cas après un an et quatorze jours calendaires.
	</p>
	<p>Si le consommateur ne reçoit pas toutes les informations requises, la période de rétractation court à compter du moment où le consommateur reçoit les informations complètes, mais expire dans tous les cas après trois mois et quatorze jours calendaires.
	</p>
	<p>Pour exercer le droit de rétractation, le consommateur notifie sa décision de se rétracter à l’OTD au nom et à l’adresse indiqués ci-dessous en utilisant un « support durable » (par exemple, lettre écrite envoyée par la poste, courrier électronique).
	</p>

	<p>Le consommateur peut, s’il le souhaite, utiliser le présent formulaire.
	</p>
	<p>Si le consommateur exerce le droit de rétractation, il n’est tenu au paiement d’aucun frais.
	</p>
	<p>Interdiction de paiements d’avances Au cours du délai de rétractation, tout paiement d’avances par le consommateur est interdit.  Cette interdiction concerne toute rémunération, y compris notamment le paiement, la constitution de garanties, la réservation d’argent sur des comptes, les reconnaissances explicites de dettes. Elle s’applique non seulement au paiement fait à un professionnel, mais également à celui fait à des tiers.
	</p>
	<p>Concernant la réalisation de prestation de services, le Consommateur peut être redevable des frais engagés par le Professionnel en vue de la réalisation de la Prestation au jour de la notification de la rétractation.</p>
	<p>A titre d’information, le professionnel notifie au Consommateur la liste desdits frais engagés au jour de la
	</p>
	<ul class="liste">

		<li>-	Commission d’intermédiation due à DIAG DRONE
		</li>

		<li>-	Frais de préparation de vols
		</li>

		<li>-	Autres frais à lister et à justifier.</li>
	</ul>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="titre">
	<h5>
		<b>Notification de rétractation</b>
	</h5>

</div>
<div class="corps2">
	<p>À .............................................................................................................. ....................................................................... (Nom et adresse du professionnel) (*).
	</p>

	<p>Je/nous (**) soussigné(s) notifie/notifions ma/notre (**) rétractation du contrat :
	</p>
	<p>Contrat conclu le (*) : .......................................................................................</p>
	<ul class="liste">
		<li>-	Reconnaissons être redevables des frais engagés par le Professionnel en vue de la réalisation de la Prestation jusqu’au jour de notre décision de se rétracter.</li>
		<br>
	</ul>
	<p>Nom du/des consommateur(s) (***) : ...................................................................... ...................................................................................................................
	</p>
	<p>Adresse(s) du/des consommateur(s) (***) :      ...................................................................................................................     ...................................................................................................................
	</p>
	<p>Signature du/des consommateur(s) (seulement si le présent formulaire est notifié par écrit) mail ou LRAR (***) :
	</p>
	<p>Date (***) :
	</p>
	<br>
	<p>(*) Champ à remplir par le professionnel avant de donner le formulaire au consommateur.
	</p>
	<p>(**)      Biffer la mention inutile.
	</p>
	<p>(***)    Champ à remplir par le(s) consommateur(s) lorsque le présent formulaire est utilisé aux fins de rétractation   du contrat.
	</p>
	<p>Accusé de réception des informations : Signature du consommateur</p>


</div>
