<div class="drapeau">
	<img src="../public/css/css_site/img/drapeau.jpg" alt="">
</div>
<div class="videEntete"></div>
<div class="numeroForm">
	<span>
		<b>N°
		</b>
	</span>
	<span>R5-UAS-SPEC-F1</span>


</div>
<div class="titredrapeau">
	<span>Ministère chargé
																de l’aviation civile
	</span>
</div>
<div class="titre">
	<span>
		Formulaire de demande d’autorisation d’exploitation
	</span>

</div>
<div class="videTitre"></div>
<div class="videExplication"></div>
<div class="explication">
	<span>Règlement d’exécution (UE) n°2019/947 de la commission du 24 mai 2019 concernant les règles et procédures applicables à l'exploitation d'aéronefs sans équipage à bord –<b>
			Partie B – UAS.SPEC.030</b>
	</span>


</div>
<div class="finexplication"></div>
