<div class="headerLogo">
    {% if rapport.intervention.reservation.salarie.entreprise.logo %}

            <img src="/uploads/logo/{{ rapport.intervention.reservation.salarie.entreprise.logo}}" alt="" height="150px" width="380px">


    {% endif %}

</div>
<div class="sepaHeader"></div>
<div class="DDHeader">
    <div class="imgHeader">    <img src="/css/css_site/images/logo-diagdrone.png" alt="" width="100%" height="50%">
    </div>
    <div class="adressesite">
        <span>www.diag-drone.com</span>
    </div>
</div>
<div class="barre3"></div>